<template>
  <v-menu min-width="200" offset-y transition="scale-transition">
    <template v-slot:activator="{ attrs, on }">
      <v-btn
        aria-label="account"
        elevation="2"
        class="ml-2"
        min-width="0"
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon aria-hidden="true" color="info">mdi-account</v-icon>
      </v-btn>
    </template>

    <v-list color="sheet darken-1" dense>
      <template v-for="(p, i) in profile">
        <v-divider v-if="p.divider" :key="`divider-${i}`" />

        <v-list-item v-else :key="`item-${i}`" :to="p.to">
          <v-list-item-title v-text="p.title" />
        </v-list-item>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "DefaultAccount",

  data: () => ({
    profile: [
      { title: "سطح کاربری من", to: "/upgrade-level" },
      { divider: true },
      { title: "حساب های بانکی من", to: "/my-bank-account" },
      { divider: true },
      { title: "تنظیمات امنیتی", to: "/security-settings" },
      { divider: true },
      { title: "تنظیمات اعلانات ", to: "/announcements" }
    ]
  })
};
</script>
