<template>
  <v-menu :close-on-content-click="false" bottom offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-btn aria-label="dot" elevation="2" icon v-bind="attrs" v-on="on">
        <v-icon aria-hidden="true" color="info">mdi-dots-vertical</v-icon>
      </v-btn>
    </template>

    <v-card width="260">
      <v-list color="sheet darken-1">
        <v-list-group
          v-for="item in items"
          :key="item.title"
          v-model="item.active"
          no-action
        >
          <template v-slot:activator>
            <v-list-item-content class="info--text">
              <v-list-item-title
                class="info--text"
                v-text="item.title"
              ></v-list-item-title>
            </v-list-item-content>
          </template>
          <template v-slot:prependIcon>
            <v-icon color="info">{{ item.action }} </v-icon>
          </template>
          <template v-if="item.items">
            <v-list-item
              dense
              :to="child.to"
              v-for="child in item.items"
              :key="child.title"
            >
              <v-list-item-title
                class="info--text"
                v-text="child.title"
              ></v-list-item-title>
              <v-list-item-icon>
                <v-icon color="info"> {{ child.icon }} </v-icon>
              </v-list-item-icon>
            </v-list-item>
          </template>
        </v-list-group>

        <v-list-item>
          <v-list-item-icon>
            <v-icon color="info">mdi-theme-light-dark</v-icon>
          </v-list-item-icon>

          <v-list-item-title class="d-flex align-center py-1">
            <span>
              تم صفحه
            </span>
            <v-spacer></v-spacer>
            <default-theme-settings class="ml-1" />
          </v-list-item-title>
        </v-list-item>

        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="info">mdi-logout</v-icon>
          </v-list-item-icon>
          <v-list-item-title>خروج</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script>
export default {
  data: () => ({
    items: [
      {
        title: "پروفایل",
        action: "mdi-account",
        items: [
          { title: "سطح کاربری من", icon: "mdi-account", to: "/upgrade-level" },
          {
            title: "حساب های بانکی من",
            icon: "mdi-bank",
            to: "/my-bank-account"
          },
          {
            title: "تنظیمات امنیتی",
            icon: "mdi-security",
            to: "/security-settings"
          },
          {
            title: "تنظیمات اعلانات",
            icon: "mdi-bullhorn",
            to: "/announcements"
          }
        ]
      },
      {
        title: "اعلانات",
        action: "mdi-bell",
        items: [
          { title: "اطلاعات کاربری شما تایید شد", icon: "" },
          { title: "برداشت btc 0.00004 با موفقیت انجام شد", icon: "" },
          { title: "100 doge coin به حساب شما واریز شد", icon: "" },
          {
            title: "شخصی با سیستم جدید وارد حساب کاربری شما شده است",
            icon: ""
          },
          { title: "سفارش خرید  ltc 28 شما با موفقیت انجام شده", icon: "" }
        ]
      },
      {
        title: "پشتیبانی",
        action: "mdi-face-agent",
        items: [
          { title: "آموزش ها", icon: "mdi-cast-education", to: "/" },
          { title: "تیکت ها", icon: "mdi-ticket", to: "/ticket-records" }
        ]
      }
    ]
  }),
  components: {
    DefaultThemeSettings: () =>
      import(
        /* webpackChunkName: "default-theme-settings" */
        "./ThemeSettings"
      )
  }
};
</script>
