<template>
  <v-menu offset-y transition="scale-transition">
    <template v-slot:activator="{ attrs, on }">
      <v-btn
        aria-label="notifications"
        elevation="2"
        class="ml-2"
        min-width="0"
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-badge bordered color="red" overlap>
          <template v-slot:badge>
            <span>5</span>
          </template>

          <v-icon aria-hidden="true" color="info">mdi-bell</v-icon>
        </v-badge>
      </v-btn>
    </template>

    <v-list color="sheet darken-1" dense>
      <v-list-item v-for="(n, i) in notifications" :key="i" link>
        <v-list-item-content>
          <v-list-item-title>{{ n }} </v-list-item-title>
        </v-list-item-content>
      </v-list-item>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  name: "DefaultNotifications",

  data: () => ({
    notifications: [
      "اطلاعات کاربری شما تایید شد",
      "برداشت btc 0.00004 با موفقیت انجام شد",
      "100 doge coin به حساب شما واریز شد",
      "شخصی با سیستم جدید وارد حساب کاربری شما شده است",
      "سفارش خرید  ltc 28 شما با موفقیت انجام شده"
    ]
  })
};
</script>
