<template>
  <v-menu min-width="200" offset-y transition="scale-transition">
    <template v-slot:activator="{ attrs, on }">
      <v-btn
        aria-label="support"
        elevation="2"
        class="ml-2"
        min-width="0"
        icon
        v-bind="attrs"
        v-on="on"
      >
        <v-icon aria-hidden="true" color="info">mdi-face-agent </v-icon>
      </v-btn>
    </template>

    <v-list color="sheet darken-1" dense>
      <template v-for="(p, i) in data">
        <v-divider v-if="p.divider" :key="`divider-${i}`" />

        <v-list-item v-else :key="`item-${i}`" :to="p.to">
          <v-list-item-title v-text="p.title" />
        </v-list-item>
      </template>
    </v-list>
  </v-menu>
</template>

<script>
export default {
  data: () => ({
    data: [
      { title: "آموزش ها", to: "/" },
      { divider: true },
      { title: "تیکت ها", to: "/ticket-records" }
    ]
  })
};
</script>
