<template>
  <v-btn
    aria-label="changeTheme"
    elevation="2"
    @click.prevent="changeTheme"
    class=""
    min-width="0"
    icon
  >
    <v-icon aria-hidden="true" color="info"> {{ iconTheme }}</v-icon>
  </v-btn>
</template>

<script>
export default {
  computed: {
    iconTheme() {
      return this.$vuetify.theme.dark
        ? "mdi-white-balance-sunny"
        : "mdi-weather-night";
    }
  },
  methods: {
    changeTheme() {
      let isDark = (this.$vuetify.theme.dark = !this.$vuetify.theme.dark);
      this.setToLocalStorage(isDark);
    },
    setToLocalStorage(theme) {
      if (theme == true) {
        localStorage.setItem("theme", "dark");
      } else {
        localStorage.setItem("theme", "light");
      }
    }
  }
};
</script>
