<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="6">
        <v-row class="px-3 px-md-0">
          <v-col cols="12" class="pt-2 pb-3 px-1">
            <v-card class="pa-1" color="sheet">
              <v-card-title>
                <h2>
                  چگونه کسب درآمد کنم؟
                </h2>
              </v-card-title>
              <v-card-text class="pb-1">
                <p class="text-justify leading-well">
                  لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                  با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و
                  مجله در ستون و سطرآنچنان که لازم است.
                </p>
              </v-card-text>
              <v-card-actions class="pt-0" dir="ltr">
                <v-btn
                  link
                  small
                  class="px-5"
                  color="aqua darken-2 white--text"
                >
                  اطلاعات بیشتر
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="mt-0 px-3 px-md-0">
          <v-col cols="12" class="pt-2 pb-3 px-1">
            <v-card color="sheet">
              <v-card-title class="justify-center">
                <h2>
                  ساخت کد معرف
                </h2>
              </v-card-title>
              <v-card-text class="pb-0">
                <v-row>
                  <v-col cols="12" class="d-flex justify-space-around pb-0">
                    <v-sheet
                      elevation="20"
                      width="100"
                      height="100"
                      rounded="circle"
                      color="sheet"
                      class="d-flex justify-center align-center flex-column"
                    >
                      <span>30%</span>
                      <span> من</span>
                    </v-sheet>
                    <v-sheet
                      elevation="20"
                      width="100"
                      height="100"
                      rounded="circle"
                      color="sheet  "
                      class="d-flex justify-center align-center flex-column"
                    >
                      <span>0%</span>
                      <span>معرفی شده</span>
                    </v-sheet>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12 text-center">
                    <v-btn-toggle v-model="percent" @change="handleBtnToggle">
                      <v-btn value="30%">
                        30%
                      </v-btn>
                      <v-btn value="25%">
                        25%
                      </v-btn>

                      <v-btn value="20%">
                        20%
                      </v-btn>

                      <v-btn value="15%">
                        15%
                      </v-btn>

                      <v-btn value="10%">
                        10%
                      </v-btn>
                      <v-btn value="5%">
                        5%
                      </v-btn>

                      <v-btn value="0%">
                        0%
                      </v-btn>
                    </v-btn-toggle>
                  </v-col>
                </v-row>
                <v-row class="mt-2">
                  <v-col cols="8" offset="2">
                    <v-text-field
                      dense
                      label="عنوان دلخواه"
                      placeholder="اختیاری است"
                      outlined
                      v-model="referralCodeInput"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions class="pt-1 d-flex justify-center pb-5">
                <v-btn class="px-8" color="aqua darken-2 white--text">
                  ثبت
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <v-col cols="12" md="6">
        <v-row class="px-3 px-md-0">
          <v-col cols="12" class="pt-2 pb-3 px-1">
            <v-card class="pa-1" color="sheet">
              <v-card-title class="mb-6 justify-center">
                <h2>ثبت کد معرف</h2>
              </v-card-title>
              <v-card-text class="pb-0">
                <v-row>
                  <v-col cols="8">
                    <v-text-field
                      dense
                      outlined
                      label="کد معرف"
                      v-model.trim="referralCodeInput"
                    >
                    </v-text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions class="pb-5">
                <v-row>
                  <v-col cols="4">
                    <v-btn small class="px-8" color="aqua darken-2 white--text">
                      ثبت
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="mt-0">
          <v-col cols="12" class="pt-2 pb-3 px-1">
            <v-row class="px-3 px-md-0">
              <v-col cols="10" sm="6" offset="1" offset-sm="0">
                <v-card min-height="auto" color="sheet" rounded="xl">
                  <v-card-title class="justify-center">
                    <h1 class="mb-2 mt-2 mb-sm-5">
                      <span class="title-text">3</span>
                      <sub class="sub">(نفر)</sub>
                    </h1>
                  </v-card-title>
                  <v-card-text class="text-center">
                    <p class="mt-3">معرفی شده ها</p>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col offset="1" offset-sm="0" sm="6" cols="10">
                <v-card min-height="146" color="sheet" rounded="xl">
                  <v-card-title class="justify-center">
                    <h1 class="mb-5 mt-2">
                      <span class="title-text">18</span>
                      <sub class="sub">(عدد)</sub>
                    </h1>
                  </v-card-title>
                  <v-card-text>
                    <div class="text-center">
                      <p class="mt-3">معاملات معرفی شده</p>
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col offset="1" offset-sm="0" sm="6" cols="10">
                <v-card min-height="146" color="sheet" rounded="xl">
                  <v-card-title class="justify-center">
                    <h1 class="mb-5 mt-2">
                      <span class="title-text">1,810,000</span>
                      <sub class="sub">(IRT)</sub>
                    </h1>
                  </v-card-title>
                  <v-card-text>
                    <div class="text-center">
                      <p class="mt-3">
                        جمع پورسانت های من
                      </p>
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col offset="1" offset-sm="0" sm="6" cols="10">
                <v-card min-height="146" color="sheet" rounded="xl">
                  <v-card-title class="justify-center">
                    <h1 class="mb-5 mt-2">
                      <span class="title-text">150,000</span>
                      <sub class="sub">(IRT)</sub>
                    </h1>
                  </v-card-title>
                  <v-card-text>
                    <div class="text-center">
                      <p class="mt-3">جمع پورسانت معرفی شده ها</p>
                    </div>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="px-3 px-md-0">
      <v-col cols="12" class="pa-1">
        <v-card color="sheet" v-if="headers && myReferralCodes">
          <v-card-title class="sheet darken-1">
            <v-toolbar-title class="mr-4">کد های معرفی من</v-toolbar-title>
          </v-card-title>
          <v-divider />
          <v-card-text class="pa-0">
            <v-data-table
              :headers="headers"
              :items="myReferralCodes"
              hide-default-footer
              class="elevation-10 t-strip"
            >
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      page: 1,
      max: 3,
      referralCodeInput: "",
      percent: "",
      headers: [],
      myReferralCodes: []
    };
  },
  methods: {
    handleBtnToggle(data) {},
    getMyReferralCode() {
      this.$api.EarnMoney.getMyReferralCode().then(res => {
        this.headers = res.data.headers;
        this.myReferralCodes = res.data.myReferralCodes;
      });
    }
  },
  mounted() {
    this.getMyReferralCode();
  }
};
</script>

<style lang="scss" scoped>
.title-text {
  color: #5fc1d1 !important;
  font-size: 30px;
}
.sub {
  font-size: small;
}
</style>
