@import "app/variables.scss";
@import "app/fixedTheme.scss";
@import "app/utiles.scss";
@import "app/routerAnimations.scss";

.description span {
  font-size: 11px !important;
  color: #5dd7eb;
}

::-moz-selection {
  background-color: #4c627c; /* Required when declaring ::selection */
  color: #fff;
  text-shadow: none;
}
::selection {
  background-color: #4c627c; /* Required when declaring ::selection */
  color: #fff;
  text-shadow: none;
}
.flex {
  flex: none !important;
}

.v-snack__wrapper {
  margin: 28px;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  box-shadow: 0 0 0 1000px var(--v-sheet-base) inset !important;
  -webkit-box-shadow: 0 0 0 1000px var(--v-sheet-base) inset !important;
  -webkit-text-fill-color: var(--v-info-base) !important;
}

@font-face {
  font-family: "Vazir";
  src: url("../fonts/vazir/Vazir-Regular-FD.woff2") format("woff2"),
    url("../fonts/vazir/Vazir-Regular-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Vazir Medium FD";
  src: url("../fonts/vazir/Vazir-Medium-FD.woff2") format("woff2"),
    url("../fonts/vazir/Vazir-Medium-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Medium-FD.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir Light FD";
  src: url("../fonts/vazir/Vazir-Light-FD.woff2") format("woff2"),
    url("../fonts/vazir/Vazir-Light-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Light-FD.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir Black FD";
  src: url("../fonts/vazir/Vazir-Black-FD.woff2") format("woff2"),
    url("../fonts/vazir/Vazir-Black-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Black-FD.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir Thin FD";
  src: url("../fonts/vazir/Vazir-Thin-FD.woff2") format("woff2"),
    url("../fonts/vazir/Vazir-Thin-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Thin-FD.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vazir FD";
  src: url("../fonts/vazir/Vazir-Regular-FD.woff2") format("woff2"),
    url("../fonts/vazir/Vazir-Regular-FD.woff") format("woff"),
    url("../fonts/vazir/Vazir-Regular-FD.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.header-tabs-left div div .v-tabs-bar__content {
  justify-content: flex-end !important;
}

html {
  scrollbar-color: var(--v-scroll-darken1) var(--v-track-base) !important;
  scrollbar-width: thin !important;
}
