.v-application {
  background: var(--v-background-base) !important;
  font-family: "Vazir", sans-serif !important;
}

.v-application.theme--light {
  font-weight: 600;
}
::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}
// scrllbar light #b2b4b8
// scrllbar dark #5e6673
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--v-scroll-base);
  border-radius: 3px;
  height: 90px;
}
::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--v-track-base) !important;
  //background: linear-gradient(90deg, #434343, #434343 1px, #111 0, #111);
  border-radius: 3px;
}

::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none;
}
*,
:after,
:before {
  box-sizing: border-box;
}

p,
span,
label {
  // font-size: 11px;
  font-family: "Vazir", sans-serif !important;
}
th {
  font-weight: normal !important;
  font-size: 10px !important;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  // font-size: 12px !important;
  font-family: "Vazir", sans-serif !important;
}
.v-btn {
  letter-spacing: normal !important;
  min-width: unset !important;
}
.v-tab {
  letter-spacing: normal !important;
}
.theme--dark .v-tab {
  font-weight: unset;
}
.theme--light .v-tab {
  font-weight: 700;
}
.theme--dark.v-data-table {
  background-color: transparent !important;
}

#nprogress .bar {
  background: #fcfcfc !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #fcfcfc, 0 0 5px #fcfcfc !important;
}

#nprogress .spinner-icon {
  border-top-color: #fcfcfc !important;
  border-left-color: #fcfcfc !important;
}

.vue-slider-mark:first-child .vue-slider-mark-step,
.vue-slider-mark:last-child .vue-slider-mark-step {
  display: block !important;
}

.vue-slider-ltr .vue-slider-mark-step,
.vue-slider-rtl .vue-slider-mark-step {
  top: -3px !important;
}
.vue-slider-ltr .vue-slider-mark-step {
  left: -3px !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0 !important;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield !important;
}
.theme--dark .error--text {
  font-weight: 600;
}

.sheet table thead tr th {
  background: var(--v-sheet-base) !important;
}
.theme--dark .border-bottom {
  border-bottom: thin solid rgba(255, 255, 255, 0.12) !important;
}

.theme--light .border-bottom {
  border-bottom: thin solid rgba(0, 0, 0, 0.12) !important;
}

.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #616161 !important;
}

.theme--light.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #eeeeee !important;
}

thead.v-data-table-header-mobile tr {
  display: none !important;
}

.v-data-table
  > .v-data-table__wrapper
  tbody
  tr:first-child:hover
  td:last-child {
  border-top-right-radius: unset !important;
}
.v-data-table
  > .v-data-table__wrapper
  tbody
  tr:first-child:hover
  td:first-child {
  border-top-left-radius: unset !important;
}

.v-data-table
  > .v-data-table__wrapper
  tbody
  tr:last-child:hover
  td:first-child {
  border-bottom-left-radius: unset !important;
}

.v-data-table > .v-data-table__wrapper tbody tr:last-child:hover td:last-child {
  border-bottom-right-radius: unset !important;
}
.theme--light {
  .error--text {
    font-weight: unset;
  }
  .aque--text {
    font-weight: unset;
  }
}
// .v-btn__content {
//   font-size: 14px;
// }

.vue-slider-mark-label {
  font-size: 12px !important;
}

.table-strip tr:nth-of-type(odd) {
  background-color: var(--v-strip-base) !important;
}
.percent {
  top: 45% !important;
}

.percent_sign {
  font-size: 14px !important;
}

.percent__int {
  font-size: 14px !important;
}

.percent__dec,
.dot {
  display: none !important;
}

.theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  color: unset !important;
  font-weight: 600 !important;
}

.theme--light {
  p,
  label,
  span:not(.v-btn__content) {
    font-weight: 600;
  }
}
.theme--light .vue-slider-mark-label {
  font-weight: 600;
}
:focus {
  outline: none;
}
.theme--light .fwl-on {
  font-weight: 600;
}

.theme--light .t-strip tr {
  font-weight: 600 !important;
}

// .v-input__append-inner {
//   margin-top: 0px !important;
// }

.v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__prepend-outer,
.v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__prepend-inner,
.v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__append-inner,
.v-text-field--full-width.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__append-outer,
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__prepend-outer,
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__prepend-inner,
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__append-inner,
.v-text-field--enclosed.v-input--dense:not(.v-text-field--solo).v-text-field--outlined
  .v-input__append-outer {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
