.flex-c-c {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-gradient {
  background: linear-gradient(
    118deg,
    rgba(130, 108, 226, 1),
    rgba(91, 59, 230, 0.7)
  ) !important;
  box-shadow: 0px 0px 10px 1px rgba(91, 59, 230, 0.7);
}
.cursor-pointer {
  cursor: pointer;
}

.text-light {
  color: #f0f6f9 !important;
}
.h-auto {
  height: auto !important;
}

.border-radius-left-5 {
  border-top-left-radius: 5px !important;
}
.border-radius-right-5 {
  border-top-right-radius: 5px !important;
}
.border-radius-top-5 {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}
.w-50 {
  width: 50% !important;
}
.font-10 {
  font-size: 10px !important;
}
.font-11 {
  font-size: 11px !important;
}
.font-12 {
  font-size: 12px !important;
}
.font-13 {
  font-size: 13px !important;
}
.font-14 {
  font-size: 14px !important;
}
.font-16 {
  font-size: 16px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}
.font-22 {
  font-size: 22px !important;
}
.font-24 {
  font-size: 24px !important;
}
.opacity-2 {
  opacity: 0.22;
}
.opacity-1-5 {
  opacity: 0.15;
}

.ml2 {
  margin-left: 2px;
}
.mr2 {
  margin-right: 2px;
}

.theme--light .overlay-order {
  background-color: #b2b6b240 !important;
}
.theme--dark .overlay-order {
  background-color: #878b8740 !important;
}
.hover-top {
  border-top: 1px dashed rgb(235, 103, 15);
}

.hover-bottom {
  border-bottom: 1px dashed rgb(235, 103, 15) !important;
}
.card-body {
  flex: 1 1 auto;
  padding: 0;
}
.card-title {
  margin: 0;
  padding: 0.45rem 1rem;
  font-size: 14px !important;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: var(--v-sheet-base) !important;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
  // margin-bottom: 2rem;
}

.theme--light .card-title,
.theme--light .orderbook-tbheader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
.theme--dark .card-title,
.theme--dark .orderbook-tbheader {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12) !important;
}
.price {
  font-size: 17px;
  margin: 0;
}

.letter-spacing-3 {
  letter-spacing: 3px;
}

.text-h55 {
  font-family: "Vazir" !important;
  font-size: 1.5rem !important;
}

.mb-2px {
  margin-bottom: 2px;
}

@media only screen and (max-width: 426px) {
  .card {
    margin-bottom: 0.2rem !important;
  }
  .card-body {
    padding: 10px;
  }

  .top-header-mobile {
    display: block !important;
    padding-top: 15px;
  }

  .top-header-mobile .card {
    margin-bottom: 1rem;
  }
  .top-header-mobile .card .card-body {
    padding: 1rem !important;
  }
}

.t-strip .v-data-table__wrapper table tbody tr:nth-of-type(odd) {
  background-color: var(--v-strip-base) !important;
}

.leading-5 {
  line-height: 1.25rem;
}
.leading-6 {
  line-height: 1.5rem;
}

.leading-7 {
  line-height: 50px !important;
}

.h-screen {
  height: 100vh !important;
}
.h-full {
  height: 100% !important;
}
.w-full {
  width: 100% !important;
}
.minh-full {
  min-height: 100% !important;
}

.position-relative {
  position: relative;
}
