.v-application--wrap {
  font-size: 10px !important;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 10px;
}
span,
label {
  font-size: 14px !important;
}
.market-list {
  height: 227px !important;
  padding: 0;
}

.last-price {
  padding: 15px;
  text-align: center;
}

.active-order-buy {
  height: 100% !important;
  overflow-y: hidden !important;
  position: absolute !important;
  right: 0;
  left: 0;
  top: 0;
}

button,
input {
  overflow: visible;
}
.col-form-label {
  margin-bottom: 0;
  padding-top: calc(0.5rem + 1px);
  padding-bottom: calc(0.5rem + 1px);
  line-height: 1.5;
}

.form-group {
  position: relative;
}
.disabled {
  pointer-events: none;
}

.table-font-small .v-data-table__wrapper table tbody tr td {
  font-size: 12px;
}

.scroll::-webkit-scrollbar {
  width: 0.2em;
}
.scroll {
  scrollbar-width: thin !important;
  scrollbar-color: var(--v-scroll-darken1) var(--v-track-base) !important;
}
.scroll::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.scroll::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.v-data-table__wrapper::-webkit-scrollbar {
  width: 0.2em !important;
}
.router-link {
  font-size: 14px !important;
  color: #07823d !important;
}

tr td.cursor-pointer:hover {
  color: var(--v-main-base);
}

.item {
  width: 33.3%;
  font-size: 11px;
  text-align: center;
}

table.v-table tbody td {
  height: 40px;
  border: none;
}
.theme--light.v-table tbody tr:not(:last-child) {
  border-bottom: none;
}

.v-input__append-outer {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.v-input__slot {
  padding: 0 12px 0 0 !important;
}
.v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
  > .v-input__control
  > .v-input__slot,
.v-text-field.v-text-field--enclosed .v-text-field__details {
  padding: 0 12px 0 0 !important;
}
