<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="8" offset="0" sm="10" offset-sm="1" offset-md="2">
        <v-card color="sheet">
          <v-card-title class="mb-3">
            <h2>
              تنظیمات امنیتی
            </h2>
          </v-card-title>
          <v-card-subtitle class="pb-0">
            <p>افزایش امنیت حساب کاربری</p>
          </v-card-subtitle>
          <v-card-text>
            <v-row>
              <v-col cols="12" class="pt-0">
                <p class="my-4 text-justify leading-well">
                  در این صفحه میتوانید نوع تنظیمات امنیتی حساب خود را انتخاب
                  کنید
                </p>
              </v-col>
              <v-col cols="12" class="text-center">
                <v-btn color="aqua darken-2">
                  اطلاعات بیشتر
                </v-btn>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="d-flex align-center justify-center">
                <v-subheader>تایید دو مرحله ای</v-subheader>
                <v-switch
                  hide-details
                  class="mt-0"
                  color="blue"
                  v-model="switch1"
                  label=""
                ></v-switch>
              </v-col>
            </v-row>
            <v-row class="mt-0">
              <v-col
                cols="12"
                class="d-flex align-center justify-center flex-column flex-sm-row"
              >
                <v-subheader>روش تایید</v-subheader>
                <v-radio-group v-model="column" column>
                  <v-radio
                    color="blue"
                    label="از طریق google authenticator"
                    value="radio-1"
                  ></v-radio>
                  <v-radio
                    color="blue"
                    label="از طریق ارسال کد به آدرس ایمیل"
                    value="radio-2"
                  ></v-radio>
                </v-radio-group>
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-actions>
            <v-row>
              <v-col cols="12" class="text-center">
                <v-btn color="aqua darken-2"> ثبت تغییرات </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    switch6: false,
    radios1: null,
    switch1: true,
    column: null
  })
};
</script>
