.css-12f336h {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  height: 100%;
}
.css-12f336h .orderbook-tbheader {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  font-size: 12px;
  color: rgb(94, 102, 115);
  flex-direction: column;
  padding: 9px;
}
.css-12f336h .orderbook-tbheader .itemm {
  display: flex;
}
.css-12f336h .orderbook-list .overlay.right {
  right: 0px;
}
.css-12f336h .orderbook-list .overlay {
  display: none;
  position: absolute;
  width: 0px;
  height: 0px;
  z-index: 100;
}
.css-12f336h .orderbook-list .overlay .content {
  width: 216px;
  height: fit-content;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 8px, rgb(0 0 0 / 8%) 0px 4px 8px;
  padding: 8px;
  top: 0px;
  left: 0px;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgb(94, 102, 115);
  border-radius: 4px;
  box-sizing: border-box;
}
.css-12f336h .orderbook-list .overlayItem {
  display: flex;
  line-height: 18px;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  flex-direction: row-reverse;
}
.css-12f336h .orderbook-list .overlayItem .title {
  color: rgb(234, 236, 239);
}
.css-vurnku {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
}

.css-12f336h .orderbook-list .overlay.right .triangle {
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgb(94, 102, 115) transparent transparent;
}
.css-12f336h .orderbook-list .overlay .triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 0px 5px 5px;
  border-color: transparent transparent transparent rgb(94, 102, 115);
}

.css-12f336h .orderbook-ticker {
  display: flex;
  padding: 1px 16px;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
}

.css-12f336h .orderbook-list {
  display: flex;
}
.orderbook-list > div {
  height: 100%;
  width: 100%;
  direction: ltr;
}

.css-12f336h .orderbook-progress {
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
@media screen and (min-width: 767px) {
  .css-12f336h .orderbook-progress .progress-container {
    height: 18px;
  }
  .css-12f336h .orderbook-progress .progress-bar {
    height: 18px;
  }
  .css-12f336h .orderbook-list .row-content {
    padding-left: 16px;
    padding-right: 16px;
    line-height: 18px;
  }
}

.css-12f336h .orderbook-progress .progress-container {
  display: flex;
  position: relative;
  -webkit-box-align: center;
  align-items: center;
  animation: 0.3s ease-out 0s 1 normal none running none;
  overflow: hidden;
  height: 26px;
  width: 100%;
}

.css-12f336h .orderbook-progress .progress-bar {
  position: absolute;
  right: 0px;
  z-index: 1;
  height: 24px;
  width: 100%;
  left: 100%;
}

.css-12f336h .orderbook-list .row-content {
  display: flex;
  box-sizing: border-box;
  z-index: 2;
  padding-left: 3px;
  padding-right: 3px;
  width: 100%;
  height: 100%;
  line-height: 22px;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
}
.css-12f336h .orderbook-list .text {
  font-size: 12px;
  margin-left: 4px;
  text-align: right;
  color: var(--v-order_content-base);
}

.css-12f336h .orderbook-list:hover .hover-bottom {
  border-bottom: 1px dashed rgb(72, 81, 93);
}

.css-12f336h .orderbook-list:hover .bar-hoverbg {
  background-color: rgb(30, 35, 41);
}
.css-12f336h .orderbook-list:hover .overlay {
  display: block !important;
}
.css-12f336h .orderbook-tbheader .content {
  display: flex;
  height: 24px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  font-size: 12px;
  color: var(--v-info-base);
}
