.custom-step {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #ccc;
  background-color: #fff;
  min-width: 6px;
  min-height: 6px;
}
.theme--light .custom-step.active {
  box-shadow: 0 0 0 3px #585858;
  background-color: #a7a7a7;
}

.theme--dark .custom-step.active {
  box-shadow: 0 0 0 3px #42b5ff;
  background-color: #1d5f8a;
}

.custom-tab.v-tab:before {
  display: none !important;
}

.custom-tab {
  font-size: 12px !important;
  font-family: "Vazir", sans-serif !important;
}
.header-tabs-left div div .v-tabs-bar__content {
  justify-content: flex-end !important;
}

.custom-dot {
  width: 100%;
  height: 100%;
  border-radius: 0;
  background-color: pink;
  transition: all 0.3s;
}
.custom-dot:hover {
  transform: rotateZ(45deg);
}
.custom-dot.focus {
  border-radius: 50%;
}
