.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  font-size: 12px !important;
}
.custom-tab.v-tab:before {
  display: none !important;
}

.custom-tab {
  font-size: 12px !important;
  font-family: "Vazir", sans-serif !important;
}
