.v-tabb {
  align-items: center;
  min-width: 50px !important;
  max-width: none !important;
  height: 50px !important;
  font-size: 14px !important;
}
.v-tabb.v-tab:before {
  display: none !important;
}
@media (max-width: 700px) {
  .v-tabb {
    font-size: 13px !important;
    padding: 6px !important;
    min-width: 40px !important;
  }
  span {
    font-size: 12px !important;
  }
}

@media (max-width: 915px) and (min-width: 599px) {
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td,
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > th {
    font-size: 12px !important;
  }
}

.theme--dark .thead {
  font-size: 14px !important;
}
.theme--light .thead {
  font-size: 14px !important;
  font-weight: 700;
}

.theme--dark
  .v-data-table
  .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td[data-v-6de47e0d],
.theme--dark
  .v-data-table
  .v-data-table__wrapper
  > table
  > thead
  > tr
  > td[data-v-6de47e0d],
.theme--dark
  .v-data-table
  .v-data-table__wrapper
  > table
  > tfoot
  > tr
  > td[data-v-6de47e0d] {
  font-size: 12px !important;
}
.theme--light
  .v-data-table
  .v-data-table__wrapper
  > table
  > tbody
  > tr
  > td[data-v-6de47e0d],
.theme--light
  .v-data-table
  .v-data-table__wrapper
  > table
  > thead
  > tr
  > td[data-v-6de47e0d],
.theme--light
  .v-data-table
  .v-data-table__wrapper
  > table
  > tfoot
  > tr
  > td[data-v-6de47e0d] {
  font-size: 12px !important;
  font-weight: 700;
}
