<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card
          color="sheet"
          class="rounded-xl"
          v-if="MyBankAccountOptions && headers"
        >
          <v-card-title class="sheet darken-1">
            <v-toolbar-title class="mr-4">حساب های بانکی من</v-toolbar-title>
          </v-card-title>
          <v-divider />
          <v-card-text class="pa-0">
            <v-data-table
              :headers="headers"
              :items="MyBankAccountOptions"
              hide-default-footer
              class="elevation-1 t-strip "
              no-data-text="حسابی وجود ندارد"
              no-results-text="حسابی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
            >
              <template v-slot:[`item.status`]="{ item }">
                <span
                  :class="
                    item.status === 'تایید شده' ? 'success--text' : 'red--text'
                  "
                  >{{ item.status }}</span
                >
              </template>
              <template v-slot:[`item.cartNumber`]="{ item }">
                <span dir="ltr">
                  {{ item.cartNumber }}
                </span>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    headers: [],
    MyBankAccountOptions: []
  }),
  mounted() {
    this.$api.MyBankAccounts.getMyBankAccounts().then(res => {
      this.MyBankAccountOptions = res.data.MyBankAccountOptions;
      this.headers = res.data.headers;
    });
  }
};
</script>
