<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,shrink-to-fit=no"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link href="https://cdn.bootcss.com/font-awesome/5.7.2/css/all.min.css">
    <script src="./src/longbow.slidercaptcha.js"></script>
    <script src="../src/longbow.slidercaptcha.js"></script>
    <title></title>
    <!-- <script     type="text/javascript" src="https://charting-library.tradingview.com/datafeeds/udf/dist/bundle.js" ></script>
    <script     type="text/javascript" src="https://charting-library.tradingview.com/charting_library/charting_library.standalone.js" ></script> -->
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script
      type="text/javascript"
      src="https://s3.tradingview.com/tv.js"
    ></script>

 

    <!-- https://nobitex.ir/cdn/libs/tv/1.14/e6c52313/tv.js -->
  </body>
</html>
