<template>
  <!-- :fluid="$vuetify.breakpoint.width <= 1800" -->
  <v-container fluid :class="containerPadding">
    <v-row>
      <v-col class="pa-2 pa-md-1 pt-2 pb-1" cols="12">
        <board-market :boardData="componentsData.headerData"> </board-market>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        class="px-1 py-0"
        lg="3"
        xl="2"
        md="3"
        order-sm="3"
        order-md="0"
        v-show="$vuetify.breakpoint.mdAndUp"
      >
        <markets></markets>
        <recent-trades :trades="componentsData.trades"></recent-trades>
      </v-col>
      <v-col
        sm="12"
        class=""
        cols="12"
        lg="7"
        xl="8"
        md="6"
        order-sm="1"
        order-md="0"
      >
        <v-row class="">
          <v-col cols="12" class="pa-1 pa-md-0">
            <!-- v-show="!$vuetify.breakpoint.smAndDown" -->
            <tv></tv>
            <dashboard-cards></dashboard-cards>
          </v-col>
        </v-row>
      </v-col>
      <v-col
        class="px-1 py-0"
        order-md="0"
        order-sm="3"
        cols="12"
        offset-sm="2"
        offset-md="0"
        sm="8"
        lg="2"
        md="3"
        xl="2"
        v-show="$vuetify.breakpoint.mdAndUp"
      >
        <order-book
          :buyOrders="componentsData.buyOrders"
          :sellOrders="componentsData.sellOrders"
        ></order-book>
      </v-col>
    </v-row>

    <v-row
      v-show="!$vuetify.breakpoint.mdAndUp && $vuetify.breakpoint.width > 600"
    >
      <v-col cols="6" class="py-2 px-2">
        <recent-trades :trades="componentsData.trades"></recent-trades>
      </v-col>
      <v-col cols="6" class="py-2 px-2">
        <order-book
          :buyOrders="componentsData.buyOrders"
          :sellOrders="componentsData.sellOrders"
        ></order-book>
      </v-col>
    </v-row>
    <v-row v-if="$vuetify.breakpoint.width < 600">
      <v-col cols="12">
        <v-card color="sheet">
          <v-card-title>
            <v-tabs
              v-model="tabSm"
              slider-size="1"
              slider-color="info"
              color="info"
              height="40"
              background-color="sheet"
              show-arrows
            >
              <!-- <v-tab key="0"> چارت</v-tab> -->
              <v-tab key="1">
                معاملات
              </v-tab>
              <v-tab key="2">
                دفتر سفارشات
              </v-tab>
            </v-tabs>
          </v-card-title>
          <v-card-text class="px-0">
            <v-tabs-items v-model="tabSm">
              <!-- <v-tab-item key="0">
                <tv></tv>
              </v-tab-item> -->
              <v-tab-item key="1">
                <recent-trades :trades="componentsData.trades"></recent-trades>
              </v-tab-item>
              <v-tab-item key="2">
                <order-book
                  :buyOrders="componentsData.buyOrders"
                  :sellOrders="componentsData.sellOrders"
                ></order-book>
              </v-tab-item>
            </v-tabs-items>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>

    <v-row class="mt-1 mt-sm-2 mt-md-4">
      <v-col class="pa-2 pa-md-1" cols="12" order-sm="4" order-md="0">
        <table-orders :userOpenOrders="componentsData.userOpenOrders">
          ></table-orders
        >
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Markets from "@/components/dashboard/Markets.vue";
import Tv from "@/components/dashboard/TV.vue";
import RecentTrades from "@/components/dashboard/RcentTrades.vue";
import OrderBook from "@/components/dashboard/OrderBook.vue";
import DashboardCards from "@/components/dashboard/DashboardCards.vue";
import BoardMarket from "@/components/dashboard/BoardMarket.vue";
import TableOrders from "@/components/dashboard/TableOrders.vue";
import { sync } from "vuex-pathify";
export default {
  components: {
    BoardMarket,
    TableOrders,
    Tv,
    RecentTrades,
    OrderBook,
    Markets,
    DashboardCards
  },
  // Object.freeze() for best performance

  data: () => ({
    tabSm: null
  }),
  methods: {
    handleChangeParams(to, from, next) {
      let currency = ["BTCTOMAN", "DOGETOMAN", "LTCTOMAN", "DASHTOMAN"].indexOf(
        to.params.currency
      );
      if (currency == -1) {
        next("/error-404");
      } else {
        this.$store.commit("dashboard/symbol", currency);
        next();
      }
    }
  },
  computed: {
    ...sync("dashboard", ["componentsData"]),
    containerPadding() {
      if (this.$vuetify.breakpoint.width > 1350) {
        return "px-10";
      } else if (this.$vuetify.breakpoint.width <= 1350) {
        return "px-3";
      }
    }
  },
  mounted() {
    this.$store.dispatch("dashboard/getMarket", this.$route.params.currency);
  },
  beforeRouteUpdate(to, from, next) {
    this.handleChangeParams(to, from, next);
  },
  beforeRouteEnter(to, from, next) {
    next(vm => {
      vm.handleChangeParams(to, from, next);
    });
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/app/page/dashboard.scss";
</style>
