<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card class="mx-auto" max-width="350">
          <v-list color="sheet">
            <v-list-item-group class="orderbook-list">
              <v-list-item
                dense
                inactive
                v-for="(item, index) in activeOrdersSell"
                @click="handleSell(item, index)"
                @mouseleave="handleMouseLeaveSell"
                @mouseenter="handleMouseEnterSell(item, index)"
                :key="index"
                :class="[
                  {
                    'overlay-order cursor-pointer':
                      selectedSellId != null ? index >= selectedSellId : false,
                    'hover-top': index === selectedSellId
                  },
                  'orderbook-progress'
                ]"
              >
                <!-- <v-list-item-icon> </v-list-item-icon> -->

                <v-list-item-content class="text-right">
                  <v-list-item-title
                    v-text="$formatIRNumber(item.total)"
                  ></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content class="text-center">
                  <v-list-item-title v-text="item.qty"></v-list-item-title>
                </v-list-item-content>

                <v-list-item-content class="text-left aqua--text">
                  <v-list-item-title
                    v-text="$formatIRNumber(item.price)"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <div class="overlay right">
                <div
                  class="content"
                  :style="{
                    transform: `translate(0px, calc(-50% + ${overlaySell}px))`
                  }"
                >
                  <div class="overlayItem">
                    <div class="title">
                      : قیمت واحد
                    </div>
                    <div>
                      {{ $formatIRNumber(sellDataOverlay.price) }}
                    </div>
                  </div>
                  <div class="overlayItem">
                    <div class="title">: (BTC) مقدار</div>
                    <div>
                      {{ sellDataOverlay.qty }}
                    </div>
                  </div>
                  <div class="overlayItem">
                    <div class="title">
                      : قیمت کل (تومان)
                    </div>
                    <div>
                      {{ $formatIRNumber(sellDataOverlay.total) }}
                    </div>
                  </div>
                </div>
                <div
                  class="triangle"
                  :style="{
                    transform: `translate(-5px, calc(-50% + ${overlaySell}px))`
                  }"
                ></div>
              </div>
            </v-list-item-group>
            <v-list-item-group>
              <v-list-item inactive :ripple="false" class="text-left">
                <v-list-item-icon>
                  <v-icon color="aqua"> mdi-arrow-up </v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title class="font-22 aqua--text"
                    >1,280,000,000</v-list-item-title
                  >
                </v-list-item-content>
              </v-list-item>
            </v-list-item-group>
            <v-list-item-group class="orderbook-list">
              <v-list-item
                dense
                inactive
                v-for="(item, index) in activeOrdersBuy"
                @mouseleave="handleMouseLeaveBuy"
                @mouseenter="handleMouseEnterBuy(item, index)"
                :key="index"
                @click="handleBuy(item, index)"
                :class="[
                  {
                    'overlay-order cursor-pointer':
                      selectedBuyId != null ? index <= selectedBuyId : false,
                    'hover-bottom': index === selectedBuyId
                  },
                  'orderbook-progress'
                ]"
              >
                <!-- <v-list-item-icon> </v-list-item-icon> -->

                <v-list-item-content class="text-right">
                  <v-list-item-title
                    v-text="$formatIRNumber(item.total)"
                  ></v-list-item-title>
                </v-list-item-content>
                <v-list-item-content class="text-center">
                  <v-list-item-title v-text="item.qty"></v-list-item-title>
                </v-list-item-content>

                <v-list-item-content class="text-left red--text">
                  <v-list-item-title
                    v-text="$formatIRNumber(item.price)"
                  ></v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <div class="overlay right">
                <div
                  class="content"
                  :style="{
                    transform: `translate(0px, calc(-50% + ${overlayBuy}px))`
                  }"
                >
                  <div class="overlayItem">
                    <div class="title">
                      : قیمت واحد
                    </div>
                    <div>
                      {{ $formatIRNumber(buyDataOverlay.price) }}
                    </div>
                  </div>
                  <div class="overlayItem">
                    <div class="title">: (BTC) مقدار</div>

                    <div>{{ buyDataOverlay.qty }}</div>
                  </div>
                  <div class="overlayItem">
                    <div class="title">
                      : قیمت کل (تومان)
                    </div>
                    <div>{{ $formatIRNumber(buyDataOverlay.total) }}</div>
                  </div>
                </div>
                <div
                  class="triangle"
                  :style="{
                    transform: `translate(-5px,  calc(-50% + ${overlayBuy}px))`
                  }"
                ></div>
              </div>
            </v-list-item-group>
          </v-list>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="12">
        <order-sell-card></order-sell-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import OrderSellCard from "@/components/dashboard/OrderSellCard.vue";

export default {
  name: "fake",
  components: {
    OrderSellCard
  },
  data: () => ({
    value: "",
    chart: null,

    activeOrdersSell: [],
    activeOrdersBuy: [],
    selectedBuyId: null,
    selectedSellId: null,
    overlaySell: null,
    overlayBuy: null,
    sellDataOverlay: {},
    buyDataOverlay: {}
  }),
  methods: {
    handleBuy(item, index) {
      let data = this.calculateBuy(item, index);
      this.$store.commit("dashboard/orderBuy", data);
    },
    handleSell(item, index) {
      let data = this.calculateSell(item, index);
      this.$store.commit("dashboard/orderSell", data);
    },
    calculateSell(item, index) {
      let price = item.price + "";
      let qty = 0;
      let total = 0;
      let len = this.activeOrdersSell.length;
      for (let ind = len - 1; ind >= index; ind--) {
        qty += parseFloat(this.activeOrdersSell[ind].qty);
        total += parseFloat(this.activeOrdersSell[ind].total);
      }
      qty = qty.toFixed(5);
      total = total.toString();

      let data = {
        qty,
        price,
        total
      };
      return data;
    },
    calculateBuy(item, index) {
      let price = item.price + "";
      let total = 0;
      let qty = 0;
      for (let ind = 0; ind < index + 1; ind++) {
        qty += parseFloat(this.activeOrdersBuy[ind].qty);
        total += parseFloat(this.activeOrdersBuy[ind].total);
      }

      total = total.toString();
      qty = qty.toFixed(5);

      let data = {
        price,
        total,
        qty
      };
      return data;
    },
    handleMouseEnterBuy(item, index) {
      this.selectedBuyId = index;
      this.overlayBuy = (index + 1) * 40;
      let data = this.calculateBuy(item, index);
      this.buyDataOverlay = data;
    },

    handleMouseEnterSell(item, index) {
      this.selectedSellId = index;
      this.overlaySell = index * 40;
      let data = this.calculateSell(item, index);
      this.sellDataOverlay = data;
    },
    handleMouseLeaveBuy() {
      this.selectedBuyId = null;
      //this.buyDataOverlay = {};
    },
    handleMouseLeaveSell() {
      this.selectedSellId = null;
      //this.sellDataOverlay = {};
    },
    getActiveOrdersSell() {
      this.loader = true;
      setTimeout(() => {
        this.$http
          .get("/api/dashboard/active-orders-sell")
          .then(res => {
            this.activeOrdersSell = res.data;
          })
          .finally(() => {
            this.loader = false;
          });
      }, 2000);
    },
    getActiveOrdersBuy() {
      this.loader = true;
      setTimeout(() => {
        this.$http
          .get("/api/dashboard/active-orders-buy")
          .then(res => {
            this.activeOrdersBuy = res.data;
          })
          .finally(() => {
            this.loader = false;
          });
      }, 2000);
    },
    chang() {
      this.activeOrdersSell?.map(item => {
        let qty = (Math.random() * (0.01 - 0.000001) + 0.000001).toFixed(5);
        let price = (
          Math.random() * (1285100000 - 1273100000) +
          1273100000
        ).toFixed(0);
        let total = (qty * price).toFixed(0);
        item.qty = qty;
        item.total = total;
        item.price = price;
      });

      this.activeOrdersBuy?.map(item => {
        let qty = (Math.random() * (0.01 - 0.000001) + 0.000001).toFixed(5);
        let price = (
          Math.random() * (1273100000 - 1260000000) +
          1273100000
        ).toFixed(0);
        let total = (qty * price).toFixed(0);
        item.qty = qty;
        item.total = total;
        item.price = price;
      });
    },

    generateFakeSocket() {
      setInterval(() => {
        this.chang();
      }, 2000);
    }
  },
  mounted() {
    // this.getActiveOrdersBuy();
    // this.getActiveOrdersSell();
    // this.generateFakeSocket();
  }
};
</script>

<style lang="scss" scoped>
// @import "@/assets/scss/app/components/orderBook.scss";

.theme--light .overlay-order {
  background-color: #b2b6b240 !important;
}
.theme--dark .overlay-order {
  background-color: #878b8740 !important;
}

.overlay.right {
  right: 0px !important;
}

.overlay {
  display: none;
  position: absolute !important;
  width: 0px;
  height: 0px;
  z-index: 100;
}

.overlay .content {
  width: 216px;
  height: fit-content;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 8px, rgb(0 0 0 / 8%) 0px 4px 8px;
  padding: 8px;
  top: 0px;
  left: 0px;
  position: absolute;
  color: rgb(255, 255, 255);
  background-color: rgb(94, 102, 115);
  border-radius: 4px;
  box-sizing: border-box;
}

.overlayItem {
  display: flex;
  line-height: 18px;
  font-size: 14px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  flex-direction: row-reverse;
}

.overlayItem .title {
  color: rgb(234, 236, 239);
}

.overlay.right .triangle {
  border-width: 5px 5px 5px 0px;
  border-color: transparent rgb(94, 102, 115) transparent transparent;
}

.overlay .triangle {
  position: absolute;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 0px 5px 5px;
  border-color: transparent transparent transparent rgb(94, 102, 115);
}

.orderbook-list:hover .overlay {
  display: block !important;
}

.orderbook-list {
  position: relative !important;
}

// .orderbook-progress {
//   display: flex;
//   width: 100%;
//   box-sizing: border-box;
// }
</style>
