<template>
  <v-container>
    <v-row>
      <v-col cols="12" md="8" offset="0" offset-md="2">
        <v-card color="sheet" v-if="wallets && headers">
          <v-card-title class="sheet darken-1">
            <v-toolbar-title class="mr-4">کیف پول</v-toolbar-title>
          </v-card-title>
          <v-divider class=""></v-divider>
          <v-card-text class="pa-0">
            <v-data-table
              :headers="headers"
              :items="wallets"
              hide-default-footer
              class="elevation-1 t-strip"
              no-data-text="کیف پولی وجود ندارد"
              no-results-text="کیف پولی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
            >
              <template v-slot:[`item.title`]="{ item }">
                <v-avatar size="36">
                  <img
                    :src="require(`@/assets/images/coins/${item.logo}`)"
                    alt="John"
                  />
                </v-avatar>
                <span class="mr-1"> {{ item.title }} </span>
              </template>

              <template v-slot:[`item.stock`]="{ item }">
                <span class="mr-1">
                  {{ formatStock(item) }}
                </span>
              </template>
              <template v-slot:[`item.actions`]="{ item }">
                <v-btn
                  :aria-label="`deposit-${item.id}`"
                  small
                  color="error"
                  @click="$router.push(`/deposite/${item.symbol}`)"
                >
                  واریز
                </v-btn>
                <v-btn
                  v-if="item.symbol != 'TOMAN'"
                  class="mr-2"
                  :aria-label="`withdrawal-${item.id}`"
                  small
                  color="blue white--text"
                  @click="$router.push(`/withdraw/${item.symbol}`)"
                >
                  برداشت
                </v-btn>
              </template>
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    headers: [
      {
        text: "ارز",
        value: "title",
        sortable: false,
        align: "right"
      },
      {
        text: "موجودی",
        align: "right",
        sortable: false,
        value: "stock"
      },
      // { text: "آدرس", value: "address", sortable: false, align: "center" },
      { text: "", value: "actions", sortable: false, align: "left" }
    ],
    wallets: []
  }),

  methods: {
    getAllWallets() {
      let logos = ["rls.svg", "bitcoin.png"];
      this.$http.get("/Wallet").then(res => {
        console.log("res wallets", res);
        this.wallet = [];
        res.data?.map((item, index) => {
          this.wallets.push({
            ...item,
            logo: logos[index]
          });
        });
      });

      // this.$api.Wallets.getAllWallets().then(res => {
      //   this.wallets = res.data.wallets;
      //   this.headers = res.data.headers;
      // });
    },
    formatStock(item) {
      console.log("item", item);
      if (item.stock < 1) {
        return item.stock;
      } else {
        if (item.symbol == "TOMAN") {
          return this.$formatIRNumber(parseInt(item.stock));
        } else {
          return this.$formatIRNumber(item.stock);
        }
      }
    }
  },
  mounted() {
    let result = this.formatStock(0.45454);
    console.log("result", result);

    this.getAllWallets();
  }
  //errorCaptured()
};
</script>
