<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet" v-if="headers && openOrders" class="rounded-xl">
          <v-card-title class="sheet darken-1">
            <v-toolbar-title class="mr-4">سفارشات باز</v-toolbar-title>
          </v-card-title>
          <v-divider />
          <v-card-text class="pa-0">
            <v-data-table
              :headers="headers"
              :items="openOrders"
              hide-default-footer
              class="elevation-1 t-strip"
              no-data-text="سفارشی وجود ندارد"
              no-results-text="سفارشی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="handlePageCount"
            >
              <template v-slot:[`item.filled`]="{ item }">
                <Progress
                  strokeColor="#00c4ff"
                  class="mt-2"
                  :transitionDuration="1000"
                  :radius="20"
                  :strokeWidth="3"
                  :value="item.filled"
                >
                </Progress>
              </template>
              <template v-slot:[`item.actions`]="{}">
                <v-btn aria-label="cancel" elevation="2" small color="error">
                  انصراف</v-btn
                >
              </template>
            </v-data-table>

            <div class="text-center py-2">
              <v-pagination
                v-if="pagination.pageCount != 0"
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <!-- <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="handlePerPage"
              ></v-text-field> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";
const Progress = () => import("easy-circular-progress");
export default {
  components: {
    Progress
  },
  data: () => ({
    openOrders: [],
    headers: [],
    pagination: {
      page: 1,
      pageCount: 2,
      itemsPerPage: 10
    },
    fake: {}
  }),
  methods: {
    handlePageCount(val) {
      this.pagination.pageCount = val;
    }
  },
  mounted() {
    this.$api.OpenOrders.getOpenOrders().then(res => {
      this.openOrders = res.data.openOrders;
      this.headers = res.data.headers;
    });

    this.$api.OpenOrders.jsonPlaceholder().then(res => {
      this.fake = res.data;
    });
  }
};
</script>

<style lang="scss" scoped>
.v-data-table > .v-data-table__wrapper > table > tbody > tr > th,
.v-data-table > .v-data-table__wrapper > table > thead > tr > th,
.v-data-table > .v-data-table__wrapper > table > tfoot > tr > th {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 1rem !important;
  height: 48px;
  font-weight: 200 !important;
}
</style>
