<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card elevation="20" color="sheet" class="pa-1">
          <v-card-title class="info--text">
            <h2>واریز نشدن بیت کوین پس از ثبت درخواست برداشت</h2>
          </v-card-title>
          <v-card-subtitle> </v-card-subtitle>
          <v-card-text class="pb-0 leading-7">
            <div class="">
              امروز درخواست برداشت از حساب بیت کوین به مبلغ 0/85 زدم. از حساب
              کیف بیت کوین سایتم کسر شد ولی بیت کوین واریز نشده لطفا بررسی
              نمایید عکس پیوست است
            </div>

            <div class="d-flex flex-row justify-space-between mt-5">
              <v-sheet color="transparent" height="auto" width="300">
                <v-file-input
                  v-model="chosenFile"
                  color="aqua"
                  truncate-length="15"
                  class="mt-0 pt-0"
                  prefix="دانلود فایل پیوست"
                  prepend-icon=""
                  @change="downloadNow"
                  hide-input
                >
                  <template v-slot:append-outer>
                    <v-btn
                      :disabled="loading"
                      large
                      @click="downloadNow"
                      :loading="loading"
                      text
                      color="aqua"
                    >
                      <v-icon color="">
                        mdi-paperclip
                      </v-icon>
                      دانلود فایل پیوست
                    </v-btn>
                  </template>
                </v-file-input>
              </v-sheet>
              <v-sheet dir="ltr" color="transparent" height="auto" width="190">
                <div>
                  <v-btn elevation="10" color="aqua" icon>
                    <v-icon color="aqua">
                      mdi-email-open-outline
                    </v-icon>
                  </v-btn>
                  <span class="ml-2">1399/9/6</span>
                  <span class="ml-2">17:06</span>
                  <span class="ml-2">#843</span>
                </div>
              </v-sheet>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12">
        <v-card elevation="20" color="sheet" class="pa-1">
          <v-card-title class="info--text">
            <h2>کارشناس پشتیبانی</h2>
          </v-card-title>
          <v-card-subtitle> </v-card-subtitle>
          <v-card-text class="pb-0 leading-7">
            <div class="">
              امروز درخواست برداشت از حساب بیت کوین به مبلغ 0/85 زدم. از حساب
              کیف بیت کوین سایتم کسر شد ولی بیت کوین واریز نشده لطفا بررسی
              نمایید عکس پیوست است
            </div>

            <div class="d-flex flex-row justify-space-between mt-5">
              <v-sheet color="transparent" height="auto" width="300">
                <v-file-input
                  truncate-length="15"
                  v-model="chosenFile"
                  color="aqua"
                  class="mt-0 pt-0"
                  prefix="دانلود فایل پیوست"
                  prepend-icon=""
                  @change="downloadNow"
                  hide-input
                >
                  <template v-slot:append-outer>
                    <v-btn
                      :disabled="loading"
                      large
                      @click="downloadNow"
                      :loading="loading"
                      text
                      color="aqua"
                    >
                      <v-icon color="">
                        mdi-paperclip
                      </v-icon>
                      دانلود فایل پیوست
                    </v-btn>
                  </template>
                </v-file-input>
              </v-sheet>
              <v-sheet dir="ltr" color="transparent" height="auto" width="200">
                <div>
                  <v-btn elevation="10" color="aqua" icon>
                    <v-icon color="aqua">
                      mdi-email-open-outline
                    </v-icon>
                  </v-btn>
                  <span class="ml-2">1399/9/6</span>
                  <span class="ml-2">17:06</span>
                  <span class="ml-2">#843</span>
                </div>
              </v-sheet>
            </div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col>
        <v-card elevation="20" color="sheet" class="pa-1">
          <v-card-text>
            <v-row>
              <v-col cols="8">
                <v-textarea
                  dense
                  rows="6"
                  clearable
                  label="پاسخ"
                  v-model.trim="textarea"
                  outlined
                >
                </v-textarea>
                <v-file-input
                  ref="vFileInput"
                  truncate-length="15"
                  v-model="chosenFile"
                  color="aqua"
                  class="mt-0 pt-0"
                  prefix="دانلود فایل پیوست"
                  prepend-icon=""
                  hide-input
                >
                  <template v-slot:append-outer>
                    <v-btn
                      @click="uploadFile"
                      :disabled="loading"
                      large
                      :loading="loading"
                      text
                      color="aqua"
                    >
                      <v-icon color="">
                        mdi-paperclip
                      </v-icon>
                      پیوست فایل
                    </v-btn>
                  </template>
                </v-file-input>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-actions>
            <v-col cols="3">
              <router-link to="/"> </router-link>
              <v-btn
                @click.prevent="downloadProductFile"
                block
                color="aqua darken-2"
              >
                ارسال
              </v-btn>
            </v-col>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import http from "../../api/http";

export default {
  data: () => ({
    textarea: "",
    chosenFile: null,
    loading: false
  }),
  watch: {
    chosenFile(newVal, oldVal) {}
  },
  methods: {
    downloadNow(event) {
      //call rest api
      // this.loading = true;
      // setTimeout(() => {
      //   this.loading = false;
      // }, 2000);
      // if (this.$isNotFalseValue(this.chosenFile)) {
      //}
    },
    forceFileDownload(data, file_name) {
      const url = window.URL.createObjectURL(new Blob([data]));
      const link = document.createElement("a");
      link.href = url;
      link.download = file_name;
      document.body.appendChild(link);
      link.click();
      window.URL.revokeObjectURL(link.href);
    },
    downloadProductFile(item) {
      return new Promise((resolve, reject) => {
        http
          .get("https://random.dog/vh7i79y2qhhy.jpg", {
            headers: {
              "Content-type": "*/*",
              "Content-Disposition": "attachment",
              "Accept-Ranges": "bytes",
              responseType: "arraybuffer"
            }
          })
          .then(response => {
            var binary = "";
            var responseTextLen = response.length;
            for (i = 0; i < responseTextLen; i++) {
              binary += String.fromCharCode(response.charCodeAt(i) & 255);
            }

            // let fileURL = window.URL.createObjectURL(
            //   new Blob([response.data]),
            //   {
            //     type: response.headers["content-type"]
            //   }
            // );
            let fileLink = document.createElement("a");
            fileLink.href = "data:application/pdf;base64," + btoa(binary);
            // const extensions = {
            //   "application/vnd.openxmlformats-officedocument.wordprocessingml.document":
            //     "docx",
            //   "image/jpeg": "jpeg",
            //   "application/fake": "fake"
            // };
            // const contentType = response.headers["content-type"];
            // const extension = extensions[contentType];
            // const fileName = "file." + extension;

            fileLink.setAttribute("download", fileName);
            document.body.appendChild(fileLink);

            fileLink.click();
            // window.URL.revokeObjectURL(fileLink.href);
            fileLink.remove();
            resolve();
          })
          .catch(() => {
            reject();
          });
      });
      // fetch(
      //   `http://core.royalegroups.com/api/v1/panel/manager/products/${item.id}/download`,
      //   {
      //     method: "GET",
      //     headers: {
      //       "Content-type": "*/*",
      //       "Content-Disposition": "attachment",
      //       Authorization: `Bearer ${localStorage.getItem("manager_token")}`
      //     }
      //   }
      // )
      //   .then(r => {
      //     if (r.status === 200) {
      //       return r.blob();
      //     }
      //   })
      //   .then(blob => {
      //     this.forceFileDownload(blob, item.file_name);
      //   });
    },

    uploadFile() {
      this.$refs.vFileInput.$el.querySelector("input").click();
      //call api
    }
  }
};
</script>
