<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet" v-if="users && headers">
          <v-data-table
            :headers="headers"
            :items="users"
            hide-default-footer
            class="elevation-1 t-strip"
            no-data-text="اطلاعاتی وجود ندارد"
            no-results-text="اطلاعاتی وجود ندارد"
            loading-text="در حال دریافت اطلاعات"
          >
            <template v-slot:top>
              <v-toolbar flat color="sheet darken-1">
                <v-toolbar-title class="mr-4">
                  {{ $route.name }}
                </v-toolbar-title>
              </v-toolbar>
              <v-divider class=""></v-divider>
            </template>
            <template v-slot:[`item.status`]="{ item }">
              <span
                :class="
                  item.status === 'تایید شده' ? 'text-success' : 'text-danger'
                "
                >{{ item.status }}</span
              >
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    selected: [],
    page: 1,
    max: 3,
    headers: [
      {
        text: "بازار",
        value: "markets",
        sortable: false,
        align: "center"
      },
      {
        text: "شناسه تیکت",
        align: "center",
        sortable: false,
        value: "ticketId"
      },
      {
        text: "موضوع",
        align: "center",
        sortable: false,
        value: "topic"
      },
      {
        text: "آخرین پیام",
        align: "center",
        sortable: false,
        value: "lastMessage"
      },
      {
        text: "تاریح ثبت",
        align: "center",
        sortable: false,
        value: "dateOfRegistration"
      },
      {
        text: "تاریخ آخرین تغییر",
        align: "center",
        sortable: false,
        value: "lastChangeDate"
      }
    ],
    users: [
      {
        currency: "BTC",
        ticketId: "#315",
        lastMessage: "پیام پشتیبانی",
        lastChangeDate: "23:11 1399/10/27",
        topic: "لورم ایپسوم",
        dateOfRegistration: "15:43 1399/7/8"
      },
      {
        currency: "IRT",
        ticketId: "#614",
        lastMessage: "پیام کاربر",
        lastChangeDate: "19:34 1399/9/9",
        topic: "لورم ایپسوم",
        dateOfRegistration: "12:51 1399/2/4"
      },
      {
        currency: "BTC",
        ticketId: "#843",
        lastMessage: "پیام پشتیبانی",
        lastChangeDate: "22:05 1399/9/12",
        topic: "لورم ایپسوم",
        dateOfRegistration: "20:00 1397/5/7"
      },
      {
        currency: "IRT",
        ticketId: "#615",
        lastMessage: "پیام کاربر",
        lastChangeDate: "واریز",
        topic: "لورم ایپسوم",
        dateOfRegistration: "16:23 1399/8/8"
      },
      {
        currency: "ETH",
        ticketId: "#844",
        lastMessage: "پیام پشتیبانی",
        lastChangeDate: "10:54 1399/4/14",
        topic: "لورم ایپسوم",
        dateOfRegistration: "13:31 1398/8/9"
      }
    ]
  })
};
</script>
