<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet" class="rounded-xl" v-if="headers && transactions">
          <v-card-title class="sheet darken-1">
            <v-toolbar-title class="mr-4">تراکنش ها</v-toolbar-title>
          </v-card-title>
          <v-divider class=""></v-divider>
          <v-card-text class="pa-0">
            <v-data-table
              :headers="headers"
              :items="transactions"
              hide-default-footer
              class="elevation-1 t-strip"
              no-data-text="تراکنشی وجود ندارد"
              no-results-text="تراکنشی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="handlePageCount"
            >
            </v-data-table>
          </v-card-text>
          <div class="text-center py-2">
            <v-pagination
              v-if="pagination.pageCount != 0"
              color="aqua"
              light
              total-visible="7"
              v-model="pagination.page"
              :length="pagination.pageCount"
            ></v-pagination>
            <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
            <!-- <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="handlePerPage"
              ></v-text-field> -->
          </div>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    transactions: [],
    headers: [],
    pagination: {
      page: 1,
      pageCount: 2,
      itemsPerPage: 10
    }
  }),
  methods: {
    getTransactions() {
      this.$api.Transactions.getTransactions().then(res => {
        this.transactions = res.data.transactions;
        this.headers = res.data.headers;
      });
    },
    handlePageCount(val) {
      this.pagination.pageCount = val;
    }
  },
  mounted() {
    this.getTransactions();
  }
};
</script>
