<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet" v-if="announcements && headers">
          <v-data-table
            :headers="headers"
            :items="announcements"
            hide-default-footer
            class="elevation-1 t-strip"
            no-data-text="اعلاناتی وجود ندارد"
            no-results-text="اعلاناتی وجود ندارد"
            loading-text="در حال دریافت اطلاعات"
          >
            <template v-slot:top>
              <v-toolbar color="sheet darken-1" flat>
                <v-toolbar-title class="mr-4">اعلانات</v-toolbar-title>
              </v-toolbar>
              <v-divider class=""></v-divider>
            </template>
          </v-data-table>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    announcements: [],
    headers: [],
    test: ""
  }),

  mounted() {
    this.$api.Announcements.getAnnouncements().then(res => {
      this.announcements = res.data.announcements;
      this.headers = res.data.headers;
    });
  }
};
</script>
