<template>
  <v-card color="sheet">
    <v-card-title class="justify-center">
      <h3>
        {{ title }}
      </h3>
    </v-card-title>
    <v-card-subtitle v-if="$props.subTitle" class="mt-1 mb-2 text-center">
      <span>
        {{ subTitle }}
      </span>
    </v-card-subtitle>

    <v-card-text>
      <v-row>
        <v-col cols="12">
          <v-text-field
            hint="dnkask"
            type="number"
            dense
            persistent-hint
            outlined
            :label="lable1"
            v-model="input1"
          >
          </v-text-field>
        </v-col>
        <v-col cols="12">
          <v-text-field
            persistent-hint
            hint="w"
            dense
            outlined
            :label="lable2"
            v-model="input2"
          >
            <template v-slot:message>
              <div class="d-flex justify-space-between aqua--text">
                <span>
                  chetory
                </span>
                <span>
                  chetory????
                </span>
              </div>
            </template>
          </v-text-field>
        </v-col>
        <v-col
          cols="12"
          v-if="$props.type == 'w-irt' || $props.type == 'd-irt'"
        >
          <v-select
            color="sheet"
            dense
            :items="banks"
            label="Outlined style"
            outlined
          ></v-select>
        </v-col>
        <v-col cols="12">
          <qrcode-vue
            renderAs="svg"
            :value="value"
            :size="size"
            level="L"
            :margin="margin"
          />
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-actions>
      <v-row>
        <v-col cols="12" class="text-center">
          <v-btn @click.prevent="post" color="aqua darken-2">
            {{ btnText }}
          </v-btn>
        </v-col>
      </v-row>
    </v-card-actions>
  </v-card>
</template>

<script>
import QrcodeVue from "qrcode.vue";
import eventBus from "@/util/eventBus";
export default {
  name: "deposite-and-withdraw",
  components: {
    QrcodeVue
  },
  props: {
    title: {
      type: String,
      required: true
      //default: 100
    },
    subTitle: {
      type: String,
      required: false
    },
    type: {
      type: String,
      required: true
    },
    btnText: {
      type: String,
      required: true
    }
  },
  data: () => ({
    input1: null,
    input2: null,
    lable1: "",
    lable2: "",
    banks: [],
    value: "https://example.com",
    size: 200,
    margin: 3
  }),
  methods: {
    post() {
      let data = {};
      eventBus.$emit("btn-click", data);
    }
  },
  created() {
    switch (this.$props.type) {
      case "w-irt":
        this.lable1 = "مبلغ";
        this.lable2 = "حساب بانکی";
        break;
      case "d-irt":
        this.lable1 = "مبلغ";
        this.lable2 = "درگاه";
        break;
      case "d-pm":
        this.lable1 = "کد ووچر";
        this.lable2 = "کد فعال سازی";
        break;

      case "w-wm":
        this.lable1 = "مبلغ";
        this.lable2 = "شماره حساب";
        break;
      case "w-pm":
        this.lable1 = "مبلغ";
        break;
      case "d-wm":
        this.lable1 = "مبلغ";
        break;
      default:
        break;
    }
  },
  computed: {
    // type() {
    //   return this.$props.type;
    // }
  }
};
</script>
