<template>
  <v-container>
    <v-row align="center">
      <v-col cols="12">
        <div class="body-1 font-weight-light pt-6 pt-md-0 text-center">
          <p>
            تمامی حقوق مادی و معنوی این سایت برای رمزینو محفوظ میباشد
            {{ new Date().getFullYear() }} &copy;
          </p>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Links"
};
</script>

<style lang="sass" scoped>
a
  color: inherit !important
</style>
