<template>
  <v-snackbar
    top
    :left="left"
    :centered="center"
    timeout="5000"
    v-model="show"
    :color="color"
  >
    {{ message }}
    <template v-slot:action="{ attrs }">
      <v-btn
        aria-label="close-snackbar"
        icon
        rounded
        v-bind="attrs"
        @click="show = false"
      >
        <v-icon aria-hidden="true">mdi-close </v-icon>
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
let unSubscribe;
export default {
  name: "snackbar",
  data: () => ({
    show: false,
    message: "",
    color: "",
    position: "",
    left: false,
    center: false
  }),

  methods: {
    checkPositon() {
      if (this.position == "center") {
        this.center = true;
        this.left = false;
      } else {
        this.left = true;
      }
    }
  },

  created() {
    unSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type == "app/showMessage") {
        console.log("app/showMessage run");
        this.message = state.app.content;
        this.color = state.app.color;
        this.position = state.app.position;
        this.show = true;
        this.checkPositon();
      }
    });
  },
  beforeDestroy() {
    unSubscribe();
  }
};
</script>
