<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card color="sheet" v-if="headers && trades" class="rounded-xl">
          <v-card-title class="sheet darken-1">
            <v-toolbar-title class="mr-4">تاریخچه معماملات</v-toolbar-title>
          </v-card-title>
          <v-divider />
          <v-card-text class="pa-0">
            <v-data-table
              :headers="headers"
              :items="trades"
              hide-default-footer
              class="elevation-1 t-strip"
              no-data-text="معمامله ای وجود ندارد"
              no-results-text="معمامله ای وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="handlePageCount"
            >
            </v-data-table>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "trade-history",
  data: () => ({
    trades: [],
    headers: [],
    pagination: {
      page: 1,
      pageCount: 2,
      itemsPerPage: 10
    }
  }),
  methods: {
    handlePageCount(val) {
      this.pagination.pageCount = val;
    }
  }
};
</script>
