<template>
  <v-card color="sheet" flat>
    <template v-if="$vuetify.breakpoint.width >= 773">
      <v-toolbar color="sheet" class="navy--text" flat height="100">
        <v-col class="text-center">
          <p>
            <!-- <span>بیت‌کوین / تومان</span> -->
            <span>{{ boardData.srcTitle }}</span>
            <v-btn
              v-show="$vuetify.breakpoint.width <= 1024"
              @click="handleModal"
              icon
              small
            >
              <v-icon>
                mdi-menu-down
              </v-icon>
            </v-btn>
          </p>
          <p class="mb-0">
            <span class="error--text">{{ boardData.dayChanges }}%</span>
            <!-- <span class="error--text">% 1.37-</span> -->
          </p>
        </v-col>
        <v-col class="text-center">
          <p>آخرین قیمت:</p>
          <span class="third--text">{{
            boardData.lastPrice != null
              ? $formatIRNumber(boardData.lastPrice)
              : ""
          }}</span>
          <span> تومان</span>
        </v-col>
        <v-col class="text-center">
          <p>حجم 24 ساعت گذشته:</p>
          <span class="third--text">{{
            boardData.dayVolume != null
              ? $formatIRNumber(parseInt(boardData.dayVolume))
              : ""
          }}</span>
          <span> تومان</span>
        </v-col>

        <v-col class="text-center">
          <p>کمترین قیمت:</p>
          <span class="third--text">{{
            boardData.lowestPrice != null
              ? $formatIRNumber(boardData.lowestPrice)
              : ""
          }}</span>
          <span> تومان</span>
        </v-col>
        <v-col class="text-center">
          <p>بیشترین قیمت:</p>
          <span class="third--text">{{
            boardData.highestPrice != null
              ? $formatIRNumber(boardData.highestPrice)
              : ""
          }}</span>
          <span> تومان</span>
        </v-col>
      </v-toolbar>
    </template>

    <template v-else>
      <v-card-text class="navy--text pa-sm-6 pa-3">
        <v-row>
          <v-col
            :class="
              `d-flex align-center  ${
                $vuetify.breakpoint.smAndDown ? 'justify-center' : ''
              } `
            "
            cols="12"
            sm="4"
          >
            <div class="right-column">
              <div class="market">
                <a @click="handleModal" class="info--text">
                  <!-- <span>بیت‌کوین / تومان</span> -->
                  <span>{{ boardData.srcTitle }}</span>
                  <v-btn small icon>
                    <v-icon>
                      mdi-menu-down
                    </v-icon>
                  </v-btn>
                </a>
              </div>
              <div>
                <span class="info--text">{{
                  boardData.lastPrice != null
                    ? $formatIRNumber(boardData.lastPrice)
                    : ""
                }}</span>
                <span class="navy--text"> تومان</span>
              </div>
            </div>
          </v-col>
          <v-col cols="12" sm="8">
            <v-row>
              <v-col :cols="$vuetify.breakpoint.width <= 295 ? 12 : 6">
                <v-row>
                  <v-col cols="12" class="">
                    <div class="d-flex flex-column align-center">
                      <span class="mb-1">
                        درصد تغییرات:
                      </span>
                      <span dir="ltr" class="error--text text-right">
                        {{ boardData.dayChanges }}%
                      </span>
                    </div>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <div class="d-flex flex-column align-center">
                      <span class="mb-1">
                        حجم 24 ساعت گذشته:
                      </span>
                      <span class="text-right">
                        <span class="info--text">{{
                          boardData.dayVolume != null
                            ? $formatIRNumber(parseInt(boardData.dayVolume))
                            : ""
                        }}</span>
                        <span> تومان</span>
                      </span>
                    </div>
                  </v-col>
                </v-row>
              </v-col>

              <v-col :cols="$vuetify.breakpoint.width <= 295 ? 12 : 6">
                <v-row>
                  <v-col cols="12">
                    <div class="d-flex flex-column align-center">
                      <span class="mb-1">
                        کمترین قیمت:
                      </span>
                      <span class="text-right">
                        <span class="info--text">{{
                          boardData.lowestPrice != null
                            ? $formatIRNumber(boardData.lowestPrice)
                            : ""
                        }}</span>
                        <span> تومان</span>
                      </span>
                    </div>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12">
                    <div class="d-flex flex-column align-center">
                      <span class="mb-1">
                        بیشترین قیمت:
                      </span>
                      <span class="text-right">
                        <span class="info--text">{{
                          boardData.highestPrice != null
                            ? $formatIRNumber(boardData.highestPrice)
                            : ""
                        }}</span>
                        <span> تومان</span>
                      </span>
                    </div>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-card-text>
    </template>
  </v-card>
</template>

<script>
let unSubscribe;
export default {
  name: "board-market",
  props: {
    boardData: {
      type: Object,
      required: true,
      default: () => ({})
    }
  },
  methods: {
    handleModal() {
      this.$store.commit("app/marketModal", true);
    }
  },
  computed: {
    symbolName() {
      return this.$store.getters["dashboard/symbolName"];
    }
  },
  mounted() {
    unSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === "dashboard/componentsData") {
      }
    });
  },
  beforeDestroy() {
    unSubscribe();
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/app/components/boardMarket.scss";
</style>
