<template>
  <v-text-field
    dir="ltr"
    :value="local"
    :label="$props.label"
    outline
    type="text"
    v-bind="[$props, $attrs]"
    name="v-cleave-input"
    @keypress="onKeyPress"
    @input="thousands_separators"
    color="gold"
  >
    <!-- Dynamically inherit slots from parent -->

    <template v-for="slot in parentSlots" :slot="slot">
      <slot :name="slot" />
    </template>
  </v-text-field>
</template>

<script>
export default {
  name: "custom-input",
  props: {
    value: {
      type: String
    },
    label: {
      type: String
    }
  },
  data() {
    return {
      local: this.value
    };
  },
  watch: {
    value(newVal, oldVal) {
      this.thousands_separators(newVal);
    }
  },
  computed: {
    parentSlots() {
      return Object.keys(this.$slots);
    }
  },
  methods: {
    onKeyPress(evt) {
      if (evt.which == 46) {
        let dotext = evt.target.value.includes(".");
        if (dotext) {
          evt.preventDefault();
        }
        return;
      }
      if (evt.which < 48 || evt.which > 57) {
        evt.preventDefault();
      }
    },
    thousands_separators(num) {
      if (!num) {
        num = "";
      }
      num = num.toString().replace(/,/g, "");
      let num_parts = num.split(".");
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");

      this.local = num_parts.join(".");
      this.$emit("input", num);
    }
  },
  mounted() {}
};
</script>
