<template>
  <v-row class="mt-0">
    <template
      v-if="$vuetify.breakpoint.width < 1400 && $vuetify.breakpoint.width > 670"
    >
      <v-col cols="12" class="py-2 px-4">
        <v-card color="sheet" ref="card">
          <v-card-title>
            <v-tabs
              centered
              v-model="tabMd"
              color="info"
              slider-color="info"
              fixed-tabs
              background-color="sheet"
            >
              <v-tab key="buy" class="aqua  info--text"> خرید BTC</v-tab>
              <v-tab key="sell" class="h-auto tomato  info--text">
                فروش BTC
              </v-tab>
            </v-tabs>
          </v-card-title>
          <v-card-text class="pb-0">
            <v-tabs-items v-model="tabMd">
              <v-tab-item key="buy">
                <order-card ref="Buy" type="Buy" @post-buy="postBuy">
                </order-card>
              </v-tab-item>
              <v-tab-item key="sell">
                <order-card ref="Sell" type="Sell" @post-sell="postSell">
                </order-card>
              </v-tab-item>
            </v-tabs-items>
          </v-card-text>
        </v-card>
      </v-col>
    </template>

    <template
      v-if="$vuetify.breakpoint.width >= 1400"
      class="buy-sell main--text pa-2"
    >
      <v-col cols="6" class="pt-1 pl-1 pb-0">
        <order-card
          @post-buy="postBuy"
          ref="Buy"
          :title="`خرید ${symbolName}`"
          type="Buy"
        >
        </order-card>
      </v-col>
      <v-col cols="6" class="pt-1 pr-1 pb-0">
        <order-card
          @post-sell="postSell"
          ref="Sell"
          :title="`فروش ${symbolName}`"
          type="Sell"
        >
        </order-card>
      </v-col>
    </template>
    <template v-if="$vuetify.breakpoint.width < 670">
      <v-col cols="12">
        <v-footer fixed app color="sheet">
          <v-bottom-sheet v-model="sheet">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="aqua"
                dark
                block
                class="ml-1"
                @click="clickBuy"
                v-bind="attrs"
                v-on="on"
              >
                خرید
              </v-btn>
              <v-btn
                color="error"
                dark
                block
                class="mr-1"
                @click="clickSell"
                v-bind="attrs"
                v-on="on"
              >
                فروش
              </v-btn>
            </template>
            <v-card color="sheet" ref="card">
              <v-card-title>
                <v-tabs
                  centered
                  v-model="tabSm"
                  color="info"
                  slider-color="info"
                  fixed-tabs
                  background-color="sheet"
                >
                  <v-tab key="buy" class="aqua "> خرید BTC</v-tab>
                  <v-tab key="sell" class="h-auto error">
                    فروش BTC
                  </v-tab>
                </v-tabs>
              </v-card-title>
              <v-card-text class="pb-0">
                <v-tabs-items v-model="tabSm">
                  <v-tab-item key="0">
                    <order-card @post-buy="postBuy" ref="Buy" type="Buy">
                    </order-card>
                  </v-tab-item>
                  <v-tab-item key="1">
                    <order-card @post-sell="postSell" ref="Sell" type="Sell">
                    </order-card>
                  </v-tab-item>
                </v-tabs-items>
              </v-card-text>
            </v-card>
          </v-bottom-sheet>
        </v-footer>
      </v-col>
    </template>

    <v-dialog
      persistent
      overlay-opacity="0.7"
      transition="dialog-bottom-transition"
      max-width="600"
      v-model="dialogBuy"
    >
      <v-card elevation="19" color="">
        <v-toolbar color="aqua darken-2" dark
          >لطفا سفارش خرید خود را تایید کنید</v-toolbar
        >
        <v-card-text class="pa-4">
          <!-- <p class="">قیمت هر واحد {{ symbolName }} به تومان : {{buyData.price}} </p> -->
          <p class="mt-2">مقدار ({{ symbolName }}) : {{ buyData.qty }}</p>
          <p class="">قیمت کل (تومان) : {{ $formatIRNumber(buyData.price) }}</p>
        </v-card-text>
        <v-card-actions class="justify-space-between pb-3">
          <v-btn
            class="px-3"
            color="success2 darken-2"
            @click.prevent="confirmBuy"
            >تایید سفارش</v-btn
          >
          <v-btn color="red" class="px-8" @click="dialogBuy = false">لغو</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- <v-dialog
      persistent
      overlay-opacity="0.7"
      transition="dialog-bottom-transition"
      max-width="600"
      v-model="dialogSell"
    >
      <v-card elevation="19" color="">
        <v-toolbar color="aqua darken-2" dark
          >لطفا سفارش فروش خود را تایید کنید</v-toolbar
        >
        <v-card-text class="pa-4">
          <p class="mt-2">مقدار ({{ symbolName }}) : {{ sellData.qty }}</p>
          <p class="">
            قیمت کل (تومان) : {{ $formatIRNumber(sellData.total) }}
          </p>
        </v-card-text>
        <v-card-actions class="justify-space-between pb-3">
          <v-btn
            class="px-3"
            color="success2 darken-2"
            @click.prevent="confirmSell"
            >تایید سفارش</v-btn
          >
          <v-btn color="red" class="px-8" @click="dialogSell = false"
            >لغو</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog> -->
  </v-row>
</template>

<script>
import OrderCard from "./OrderCard";
import VCleaveInput from "./VCleaveInput.vue";
import VCleaveInputMixin from "@/plugins/mixins/VCleaveInputMixin.vue";
export default {
  name: "dashboard-cards",
  components: {
    OrderCard,
    VCleaveInput
  },
  mixins: [VCleaveInputMixin],
  data: () => ({
    tabMd: null,
    tabSm: null,
    sheet: false,
    fake: {},
    fakee: {},
    dialogBuy: false,
    dialogSell: false,
    buyData: {},
    sellData: {}
  }),
  methods: {
    postSell(data) {
      this.$http.post("/Market/Sell", data).then(
        response => {
          this.$store.dispatch(
            "dashboard/getMarket",
            this.$route.params.currency
          );

          this.$showSnackbar({
            content: "سفارش شماباموفقیت انجام شد",
            color: "success2"
          });
          console.log("response postSell : ", response);
        },
        err => {
          console.log("err postSell : ", err);
          // this.$showSnackbar({
          //   content: "متاسفانه مشکلی پیش آمده لطفا دوباره امتحان کنید",
          //   color: "error"
          // });
        }
      );
    },
    postBuy(data) {
      this.$http.post("/Market/Buy", data).then(
        response => {
          this.$store.dispatch(
            "dashboard/getMarket",
            this.$route.params.currency
          );
          this.$showSnackbar({
            content: "سفارش شماباموفقیت انجام شد",
            color: "success2"
          });

          console.log("response postBuy : ", response);
        },
        err => {
          console.log("err postBuy : ", err);
          // this.$showSnackbar({
          //   content: "متاسفانه مشکلی پیش آمده لطفا دوباره امتحان کنید",
          //   color: "error"
          // });
        }
      );
    },
    clickBuy() {
      this.tabSm = 0;
    },
    clickSell() {
      this.tabSm = 1;
    },
    handleModalBuy(data) {
      this.dialogBuy = true;
      this.buyData = data;
      // return;
      // this.postBuy(data);
    },
    handleModalSell(data) {
      this.dialogSell = true;
      this.sellData = data;
      // return;
      // this.postBuy(data);
    }
    // confirmBuy() {
    //   this.postBuy(this.buyData);
    // },
    // confirmSell() {
    //   this.postSell(this.sellData);
    // }
  },
  computed: {
    symbolName() {
      return this.$store.getters["dashboard/symbolName"];
    }
  },
  mounted() {}
};
</script>
