<template>
  <v-card color="sheet" class="mb-1">
    <v-card-title class="py-3">
      <p class="mb-0 font-14">بازار ها</p>
    </v-card-title>
    <v-divider />
    <v-tabs
      v-model="tab"
      slider-size="1"
      slider-color="info"
      color="info"
      height="30"
      background-color="sheet"
      class="border-bottom ma-0"
    >
      <v-tab tag="span" class="custom-tab" :ripple="false" key="all">
        همه
      </v-tab>
      <v-tab tag="span" class="custom-tab" :ripple="false" key="irt">
        تومان
      </v-tab>
    </v-tabs>
    <v-tabs-items class="sheet" v-model="tab">
      <v-tab-item key="all">
        <v-simple-table class="sheet" dense fixed-header height="160">
          <thead>
            <tr>
              <th class="text-center font-12">
                نام
              </th>
              <th class="text-center font-12">
                قیمت
              </th>
              <th class="text-center font-12">
                درصد تغییرات
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="" v-for="(item, index) in allMarkets" :key="item.name">
              <td
                @click.prevent="coinClick(item, index)"
                class="px-0 text-center cursor-pointer font-12"
              >
                {{ item.name }}
              </td>
              <td
                :class="item.changes >= '0%' ? 'aqua--text' : 'error--text'"
                class="px-0 text-center font-12"
              >
                {{ $formatIRNumber(item.price) }}
              </td>
              <td
                :class="item.changes >= '0%' ? 'aqua--text' : 'error--text'"
                class="px-0 text-center font-12"
              >
                {{ item.changes }}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-tab-item>
      <v-tab-item key="irt">
        <v-simple-table class="sheet" dense fixed-header height="160">
          <thead>
            <tr>
              <th class="text-center ">
                نام
              </th>
              <th class="text-center ">
                قیمت (تومان)
              </th>
              <th class="text-center">
                درصد تغییرات
              </th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, index) in marketIRT" :key="item.name">
              <td
                @click.prevent="coinClick(item, index)"
                class="px-0 text-center font-12 cursor-pointer"
              >
                {{ item.name }}
              </td>
              <td
                :class="item.changes >= '0%' ? 'aqua--text' : 'error--text'"
                class="px-0 text-center font-12"
              >
                {{ $formatIRNumber(item.price) }}
              </td>
              <td
                :class="item.changes >= '0%' ? 'aqua--text' : 'error--text '"
                class="px-0 text-center font-12"
              >
                {{ item.changes }}
              </td>
            </tr>
          </tbody>
        </v-simple-table>
      </v-tab-item>
    </v-tabs-items>
    <v-dialog
      @click:outside="handleClickOutSideModal"
      :value="marketModal"
      transition="dialog-top-transition"
      max-width="600"
    >
      <template v-slot:default>
        <v-card>
          <v-card-text class="pa-0">
            <v-tabs
              slider-size="1"
              slider-color="info"
              color="info"
              height="30"
              v-model="tabModal"
              background-color="sheet"
            >
              <v-tab
                tag="span"
                :ripple="false"
                key="all"
                :class="$vuetify.breakpoint.smAndDown ? 'custom-tab' : ''"
              >
                همه
              </v-tab>
              <v-tab
                tag="span"
                :ripple="false"
                key="irt"
                :class="$vuetify.breakpoint.smAndDown ? 'custom-tab' : ''"
              >
                تومان
              </v-tab>
            </v-tabs>
            <v-tabs-items class="sheet" v-model="tabModal">
              <v-tab-item key="all">
                <div class="">
                  <v-simple-table
                    dense
                    fixed-header
                    height="200px"
                    class="sheet"
                  >
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-center">
                            نام
                          </th>
                          <th class="text-center">
                            قیمت
                          </th>
                          <th class="text-center">
                            درصد تغییرات
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr
                          v-for="(item, index) in allMarkets"
                          :key="item.name"
                          @click="cancelDialog(false)"
                        >
                          <td
                            @click.prevent="coinClick(item, index)"
                            class="px-0 text-center"
                          >
                            {{ item.name }}
                          </td>
                          <td
                            :class="
                              item.changes >= '0%'
                                ? 'aqua--text'
                                : 'error--text'
                            "
                            class="px-0 text-center"
                          >
                            {{ $formatIRNumber(item.price) }}
                          </td>
                          <td
                            :class="
                              item.changes >= '0%'
                                ? 'aqua--text'
                                : 'error--text'
                            "
                            class="px-0 text-center"
                          >
                            {{ item.changes }}
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </div>
              </v-tab-item>
              <v-tab-item key="irt">
                <div class="">
                  <v-simple-table
                    class="sheet"
                    dense
                    fixed-header
                    height="200px"
                  >
                    <template v-slot:default>
                      <thead>
                        <tr>
                          <th class="text-center">
                            نام
                          </th>
                          <th class="text-center">
                            (تومان)قیمت
                          </th>
                          <th class="text-center">
                            درصد تغییرات
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr
                          v-for="(item, index) in marketIRT"
                          :key="item.name"
                          @click="cancelDialog(false)"
                        >
                          <td
                            @click.prevent="coinClick(item, index)"
                            class="px-0 text-center"
                          >
                            {{ item.name }}
                          </td>
                          <td
                            :class="
                              item.changes >= '0%'
                                ? 'aqua--text'
                                : 'error--text'
                            "
                            class="px-0 text-center"
                          >
                            {{ $formatIRNumber(item.price) }}
                          </td>
                          <td
                            :class="
                              item.changes >= '0%'
                                ? 'aqua--text'
                                : 'error--text '
                            "
                            class="px-0 text-center"
                          >
                            {{ item.changes }}
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </div>
              </v-tab-item>
            </v-tabs-items>
          </v-card-text>
        </v-card>
      </template>
    </v-dialog>
  </v-card>
</template>

<script>
import { get } from "vuex-pathify";
export default {
  name: "markets",
  props: {},
  data: () => ({
    allMarkets: [],
    marketIRT: [],
    marketUSDT: [],
    tab: 0,
    dialogMarket: false,
    tabModal: 0
  }),
  methods: {
    getAllMarket() {
      this.$api.Dashboard.getAllMarket().then(res => {
        this.allMarkets = res.data;
      });
    },
    getMarketIRT() {
      this.$api.Dashboard.getMarketIRT().then(res => {
        this.marketIRT = res.data;
      });
    },
    cancelDialog() {
      this.$store.commit("app/marketModal", false);
    },
    handleClickOutSideModal() {
      this.$store.commit("app/marketModal", false);
    },
    coinClick(item, index) {
      // fetch api
      //this.$store.commit("dashboard/symbol", index);
      if (this.$route.params.currency !== item.market) {
        this.$router.replace(`/dashboard/${item.market}`);
      }
    }
  },
  computed: {
    ...get("app", ["marketModal"])
  },
  mounted() {
    this.getAllMarket();
    this.getMarketIRT();
    // let promise = window.Notification.requestPermission();

    // if (window.Notification.permission == "granted") {
    //   window.navigator.serviceWorker.getRegistration().then(reg => {
    //     var options = {
    //       body: "Here is a notification body!",
    //       icon: "@/assets/images/vuexy-login-bg.jpg",
    //       image: "@/assets/images/vuexy-login-bg.jpg",
    //       data: {
    //         dateOfArrival: Date.now(),
    //         primaryKey: 1
    //       },
    //       badge: {},
    //       actions: [
    //         {
    //           action: "explore",
    //           title: "Explore this new world",
    //           icon: "images/checkmark.png"
    //         },
    //         {
    //           action: "close",
    //           title: "Close notification",
    //           icon: "images/xmark.png"
    //         }
    //       ]
    //     };
    //     reg.showNotification("Hello world!", options);
    //   });
    // }
    // console.log("Notification",  Notification.requestPermission()  );
  }
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/app/components/markets.scss";
</style>
