<template>
  <v-card color="sheet">
    <v-card-text class="info--text pb-3">
      <v-form ref="marketForm" v-model="validMarket">
        <v-col cols="12" class="">
          <!-- :id="`unitPriceBuy-${marketTabs}-${$props.title ? 'lg' : 'sm'}`" -->
          <v-cleave-input
            :value="unitPrice"
            :label="`قیمت هر واحد ${symbolName} به تومان`"
            class="fwl-on"
            @input="handleUnitPrice"
            name="unitPrice"
            id="unitPrice"
          />
        </v-col>

        <v-col cols="12" class="">
          <!-- :id="`amount${type}-${marketTabs}-${$props.title ? 'lg' : 'sm'}`" -->
          <v-cleave-input
            v-model="amount"
            :label="`مقدار (${symbolName})`"
            class="fwl-on"
            @input="handleAmount"
            :rules="marketTabs == 1 ? allAmountRules : []"
          />
        </v-col>

        <v-col cols="12" class="py-0 px-4 mb-4">
          <v-row>
            <v-col cols="12" class="mb-4">
              <vue-slider
                :processStyle="{
                  background: $vuetify.theme.isDark ? '#eae6e6' : '#95989c'
                }"
                :railStyle="{
                  background: $vuetify.theme.isDark ? '#464b54' : '#cad0d8'
                }"
                @change="handleSlider"
                :ref="`sliderSell`"
                :adsorb="true"
                :interval="10"
                :marks="true"
                :dot-attrs="{ 'aria-label': 'Select your age' }"
                :stepStyle="{
                  width: '9px',
                  height: '9px',
                  background: 'darkolivegreen'
                }"
                hide-lable
                :data="dataSlider"
                v-model="slider"
                :disabled="unitPrice == ''"
              >
                <template v-slot:step="{ active }">
                  <div :class="['custom-step', { active }]"></div>
                </template>
                <template v-slot:dot="{ focus, value }">
                  <div :class="['custom-dot', { focus, value }]"></div>
                </template>
              </vue-slider>
            </v-col>
          </v-row>
        </v-col>

        <v-col cols="12" class="py-0 px-0">
          <!-- :id="`allAmount${type}-${marketTabs}-${$props.title ? 'lg' : 'sm'}`" -->
          <v-cleave-input
            v-model="allAmount"
            label="قیمت کل (تومان)"
            class="fwl-on"
            @input="handleAllAmount"
            :rules="marketTabs == 1 ? amountRules : []"
          />
        </v-col>

        <v-col cols="12" class="py-0 px-0">
          <v-row>
            <v-col cols="12" sm="6" class="py-0 px-4">
              <p>
                موجودی :
                <span>
                  {{ componentsData.coinStock }}
                  {{ symbolName }}
                </span>
              </p>
            </v-col>
            <v-col cols="12" sm="6" class="py-0 px-4">
              <p>
                مبلغ کل:
                <span>
                  {{ allAmount != "" ? $formatIRNumber(allAmount) : "" }}
                  تومان
                </span>
              </p>
            </v-col>
            <v-col cols="12" sm="6" class="py-0 px-4">
              <p>
                کارمزد:
                <span>
                  {{ fee }}
                  {{ "تومان" }}
                </span>
              </p>
            </v-col>

            <v-col cols="12" sm="6" class="py-0 px-4">
              <p>
                دریافتی :
                <span>
                  {{ recived }}
                  تومان
                </span>
              </p>
            </v-col>
          </v-row>
        </v-col>
      </v-form>
    </v-card-text>

    <v-card-actions>
      <v-btn
        @click.prevent="postSell"
        :aria-label="`Buy-${symbolName}`"
        block
        :disabled="!user_is_authenticated || loading"
        :loading="loading"
        color="error"
        class="font-14 fwl-on"
      >
        <span v-if="user_is_authenticated"> فروش {{ symbolName }} </span>

        <v-overlay
          opacity="1"
          color="sheet"
          absolute
          :value="!user_is_authenticated"
          v-else
        >
          <p class="mb-0 info--text">
            <router-link class="aqua--text" to="/register">
              ثبت نام
            </router-link>
            یا
            <router-link class="aqua--text" to="/login">
              ورود
            </router-link>
          </p>
        </v-overlay>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { sync, get } from "vuex-pathify";
import VCleaveInput from "./VCleaveInput.vue";
export default {
  name: "order-sell-card",
  components: {
    VCleaveInput
  },
  data: vm => ({
    validMarket: false,
    unitPrice: "",
    amount: "",
    allAmount: "",
    slider: "0%",
    dataSlider: ["0%", "25%", "50%", "75%", "100%"],
    loading: false,
    allAmountRules: [
      v => !!v || "قیمت کل (تومان) الزامی است",
      v => {
        v = vm.splitComma(v);
        return (
          v <= vm.componentsData.rialStock || "موجودی ریالی شما کافی نمیباشد"
        );
      }
    ],
    amountRules: [
      v => !!v || "مقدار BTC الزامی است",
      v => {
        if (vm.type == "Sell") {
          v = vm.splitComma(v);
          if (v != 0) {
            return (
              v < vm.componentsData.coinStock ||
              "موجودی بیت کوین شما کافی نمیباشد"
            );
          }
          return true;
        }
        return true;
      },
      v => {
        if (vm.type == "Buy") {
          v = vm.splitComma(v);
          if (v != 0) {
            return (
              v > vm.componentsData.makerFee ||
              "مقدار BTC نمیتواند مساوی یا کمتر از کارمزد باشد"
            );
          }
          return true;
        }
        return true;
      }
    ]
  }),
  computed: {
    user_is_authenticated: get("user/user_is_authenticated"),
    symbolName: get("dashboard/symbolName"),
    ...sync("dashboard", ["marketTabs", "componentsData"]),
    fee() {
      if (this.componentsData.takerFee) {
        return this.$formatIRNumber(this.componentsData.takerFee);
      }
      return "";
    },

    recived() {
      if (this.allAmount != "" && this.componentsData.takerFee) {
        return this.$formatIRNumber(
          +this.allAmount - this.componentsData.takerFee
        );
      }
      return "";
    }
  },
  methods: {
    splitComma(val) {
      if (!val) {
        val = "";
      }
      let result = val.toString().replace(/,/g, "");
      return +result;
    },
    postSell() {
      let data = { price: "76935012843" };
      this.$store.commit("dashboard/orderBuy", data);

      // this.amount = "0.000321";
      // this.unitPrice = "0.000321";
      // this.allAmount = "76935012843";

      // this.handleAmount("0.000321");
      // this.handleUnitPrice("0.000321");
      // this.handleAllAmount("76935012843");

      return;

      if (this.marketTabs == 0) {
        console.log("this.marketTabs == 0");
        let valid = this.$refs.marketForm.validate();
        if (valid) {
          this.loading = true;
          data = {
            pair: this.$route.params.currency,
            price: +this.unitPrice,
            qty: +this.amount,
            type: 1
          };
          eventBus.$emit("post-sell", data);
          setTimeout(() => {
            this.$refs.marketForm.reset();
            this.loading = false;
          }, 500);
        }
      } else if (this.marketTabs == 1) {
        console.log("this.marketTabs == 1");
        let valid = this.$refs.limitedForm.validate();
        if (valid) {
          this.loading = true;
          data = {
            pair: this.$route.params.currency,
            price: +this.unitPrice,
            qty: +this.amount,
            type: 2
          };
          eventBus.$emit("post-sell", data);
          setTimeout(() => {
            this.$refs.limitedForm.reset();
            this.loading = false;
          }, 500);
        }
      }
    },

    handleSlider(value, index) {
      value = +value.replace(/\D/g, "");
      let result;
      if (this.componentsData?.coinStock > 0) {
        result = (value / 100) * this.componentsData?.coinStock;
        if (result) {
          result = result.toFixed(5);
          this.amount = result;
          this.$nextTick(() => {
            this.handleAmount(this.amount);
          });
        } else {
          this.amount = "";
          this.allAmount = "";
        }
      } else {
        this.$showSnackbar({
          content: "موجودی بیت کوین شما کافی نمیباشد",
          color: "red"
        });
      }
    },
    handleAmount(amount) {
      console.log("amount", amount);
      let result = 0;
      if (this.marketTabs == 0) {
        if (this.unitPrice != "") {
          result = parseInt(amount * this.unitPrice);
          result = result == 0 ? "" : result.toString();
          this.allAmount = result;
        }
      } else if (this.marketTabs == 1) {
        if (this.unitPrice != "") {
          result = parseInt(amount * this.unitPrice);
          result = result == 0 ? "" : result.toString();
          this.allAmount = result;
        }
      }
    },
    handleUnitPrice(unitPrice) {
      this.unitPrice = unitPrice;
      let result = 0;
      if (this.marketTabs == 0) {
        if (this.amount != "") {
          result = parseInt(unitPrice * this.amount);
          result = result == 0 ? "" : result.toString();
          this.allAmount = result;
        }
      } else if (this.marketTabs == 1) {
        if (this.amount != "") {
          result = parseInt(unitPrice * this.amount);
          result = result == 0 ? "" : result.toString();
          this.allAmount = result;
        }
      }
    },
    handleAllAmount(allAmount) {
      console.log("allAmount", allAmount);
      let result = 0;
      if (this.marketTabs == 0) {
        if (!!this.unitPrice) {
          result = parseInt(allAmount * this.unitPrice);
          result = result == 0 ? "" : result.toFixed(6);
          this.amount = result;
        }
      } else if (this.marketTabs == 1) {
        if (!!this.unitPrice) {
          console.log("this.unitPrice", this.unitPrice);

          result = allAmount / this.unitPrice;

          console.log("result", result);
          result = result == 0 ? "" : result.toFixed(6);
          this.amount = result;
        }
      }
    }
  },
  mounted() {}
};
</script>
