<template>
  <v-card color="sheet">
    <v-card-title :class="`font-14 pa-2 justify-center`">
      <v-tabs
        slider-size="1"
        slider-color="info"
        height="30"
        background-color="sheet"
        v-model="marketTabs"
        active-class="info--text"
        class="ma-0 header-tabs-left"
      >
        <h3
          v-if="$props.title"
          :class="
            ` ${$props.type == 'Buy' ? 'aqua--text' : 'error--text'} pa-2`
          "
        >
          {{ $props.title }}
        </h3>
        <v-spacer />
        <v-tab tag="span" class="custom-tab" :ripple="false" key="market"
          >بازار</v-tab
        >
        <v-tab tag="span" class="custom-tab" :ripple="false" key="limited"
          >قیمت دلخواه</v-tab
        >
      </v-tabs>
    </v-card-title>
    <v-card-text class="info--text pb-3">
      <v-tabs-items class="sheet" v-model="marketTabs">
        <v-tab-item class="pt-4" key="market">
          <v-form ref="marketForm" v-model="validMarket">
            <v-col cols="12" class="py-0 px-0">
              <v-cleave-input
                :id="
                  `unitPrice${type}-${marketTabs}-${$props.title ? 'lg' : 'sm'}`
                "
                :label="`قیمت هر واحد ${symbolName} به تومان`"
                class="fwl-on"
                :disabled="true"
              />
            </v-col>
            <v-col cols="12" class="py-0 px-0">
              <v-cleave-input
                :id="
                  `amount${type}-${marketTabs}-${$props.title ? 'lg' : 'sm'}`
                "
                v-model="amountMarket"
                :label="`مقدار (${symbolName})`"
                class="fwl-on"
                @input="handleAmountMarket"
              />
            </v-col>

            <v-col cols="12" class="py-0 px-4 mb-4">
              <v-row>
                <v-col cols="12" class="mb-4">
                  <vue-slider
                    :processStyle="{
                      background: $vuetify.theme.isDark ? '#eae6e6' : '#95989c'
                    }"
                    :railStyle="{
                      background: $vuetify.theme.isDark ? '#464b54' : '#cad0d8'
                    }"
                    @change="handleSliderMarket"
                    :ref="`sliderMarket${$props.type}`"
                    :adsorb="true"
                    :interval="10"
                    :marks="true"
                    :dot-attrs="{ 'aria-label': 'Select your age' }"
                    :stepStyle="{
                      width: '9px',
                      height: '9px',
                      background: 'darkolivegreen'
                    }"
                    hide-lable
                    :data="dataSlider"
                    v-model="sliderMarket"
                  >
                    <template v-slot:step="{ active }">
                      <div :class="['custom-step', { active }]"></div>
                    </template>
                    <template v-slot:dot="{ focus, value }">
                      <div :class="['custom-dot', { focus, value }]"></div>
                    </template>
                  </vue-slider>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="py-0 px-0">
              <v-cleave-input
                :id="
                  `allAmount${type}-${marketTabs}-${$props.title ? 'lg' : 'sm'}`
                "
                v-model="allAmountMarket"
                label="قیمت کل (تومان)"
                class="fwl-on"
              />
            </v-col>

            <v-col cols="12" class="py-0 px-0">
              <v-row>
                <v-col cols="12" sm="6" class="py-0 px-4">
                  <p>
                    موجودی :
                    <span>
                      {{
                        $props.type === "Sell"
                          ? componentsData.coinStock
                          : componentsData.rialStock
                          ? $formatIRNumber(parseInt(componentsData.rialStock))
                          : ""
                      }}
                      {{ $props.type === "Sell" ? symbolName : "تومان" }}
                    </span>
                  </p>
                </v-col>
                <v-col cols="12" sm="6" class="py-0 px-4">
                  <p>
                    مبلغ کل:
                    <span>
                      {{
                        allAmountMarket != ""
                          ? $formatIRNumber(allAmountMarket)
                          : ""
                      }}
                      تومان
                    </span>
                  </p>
                </v-col>
                <v-col cols="12" sm="6" class="py-0 px-4">
                  <p>
                    کارمزد:
                    <span>
                      {{
                        $props.type === "Sell"
                          ? componentsData.takerFee
                            ? $formatIRNumber(componentsData.takerFee)
                            : ""
                          : componentsData.makerFee
                      }}
                      {{ $props.type === "Sell" ? "تومان" : symbolName }}
                    </span>
                  </p>
                </v-col>

                <v-col cols="12" sm="6" class="py-0 px-4">
                  <p>
                    دریافتی :
                    <span>
                      {{
                        $props.type === "Sell"
                          ? allAmountMarket != "" && componentsData.takerFee
                            ? $formatIRNumber(
                                +allAmountMarket - componentsData.takerFee
                              )
                            : ""
                          : amountMarket != "" && componentsData.makerFee
                          ? $formatIRNumber(
                              +amountMarket - componentsData.makerFee
                            )
                          : ""
                      }}
                      {{ $props.type === "Sell" ? "تومان" : symbolName }}
                    </span>
                  </p>
                </v-col>
              </v-row>
            </v-col>
          </v-form>
          <v-card-actions>
            <v-btn
              @click.prevent="post"
              :aria-label="`${type}-${symbolName}`"
              block
              :disabled="overlay || loading"
              :loading="loading"
              :color="`${$props.type == 'Buy' ? 'aqua' : 'error'}  `"
              class="font-14 fwl-on"
            >
              <span v-if="user_is_authenticated">
                {{ $props.type == "Buy" ? "خرید" : "فروش" }}
              </span>

              <v-overlay
                opacity="1"
                color="sheet"
                absolute
                :value="overlay"
                v-else
              >
                <p class="mb-0 info--text">
                  <router-link class="aqua--text" to="/register">
                    ثبت نام
                  </router-link>
                  یا
                  <router-link class="aqua--text" to="/login">
                    ورود
                  </router-link>
                </p>
              </v-overlay>
            </v-btn>
          </v-card-actions>
        </v-tab-item>
        <v-tab-item class="pt-4" key="limited">
          <v-form ref="limitedForm" v-model="validLimited">
            <v-col cols="12" class="py-0 px-0">
              <v-cleave-input
                :id="
                  `unitPrice${type}-${marketTabs}-${$props.title ? 'lg' : 'sm'}`
                "
                v-model="unitPriceLimit"
                :label="`قیمت هر واحد ${symbolName} به تومان`"
                class="fwl-on"
                @input="handleUnitPriceLimit"
                name="unitPrice"
              />
            </v-col>
            <v-col cols="12" class="py-0 px-0">
              <v-cleave-input
                :id="
                  `amount${type}-${marketTabs}-${$props.title ? 'lg' : 'sm'}`
                "
                v-model="amountLimit"
                :label="`مقدار (${symbolName})`"
                class="fwl-on"
                @input="handleAmountLimit"
                :rules="amountLimitRules"
              />
            </v-col>

            <v-col cols="12" class="py-0 px-4 mb-4">
              <v-row>
                <v-col cols="12" class="mb-4">
                  <vue-slider
                    :processStyle="{
                      background: $vuetify.theme.isDark ? '#eae6e6' : '#95989c'
                    }"
                    :railStyle="{
                      background: $vuetify.theme.isDark ? '#464b54' : '#cad0d8'
                    }"
                    @change="handleSliderLimit"
                    :ref="`sliderLimit${$props.type}`"
                    :adsorb="true"
                    :interval="10"
                    :marks="true"
                    :dot-attrs="{ 'aria-label': 'Select your age' }"
                    :stepStyle="{
                      width: '9px',
                      height: '9px',
                      background: 'darkolivegreen'
                    }"
                    hide-lable
                    :data="dataSlider"
                    v-model="sliderLimit"
                    :disabled="unitPriceLimit == ''"
                  >
                    <template v-slot:step="{ active }">
                      <div :class="['custom-step', { active }]"></div>
                    </template>

                    <template v-slot:dot="{ focus, value }">
                      <div :class="['custom-dot', { focus, value }]"></div>
                    </template>
                  </vue-slider>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" class="py-0 px-0">
              <v-cleave-input
                :id="
                  `allAmount${type}-${marketTabs}-${$props.title ? 'lg' : 'sm'}`
                "
                v-model="allAmountLimit"
                label="قیمت کل (تومان)"
                class="fwl-on"
                :rules="$props.type == 'Buy' ? allAmountLimitRules : []"
                @input="handleAllAmountLimit"
              />
            </v-col>

            <v-col cols="12" class="py-0 px-0">
              <v-row>
                <v-col cols="12" sm="6" class="py-0 px-4">
                  <p>
                    موجودی :
                    <span>
                      {{
                        $props.type === "Sell"
                          ? componentsData.coinStock
                          : componentsData.rialStock
                          ? $formatIRNumber(parseInt(componentsData.rialStock))
                          : ""
                      }}
                      {{ $props.type === "Sell" ? symbolName : "تومان" }}
                    </span>
                  </p>
                </v-col>
                <v-col cols="12" sm="6" class="py-0 px-4">
                  <p>
                    مبلغ کل:
                    <span>
                      {{
                        allAmountLimit ? $formatIRNumber(allAmountLimit) : ""
                      }}
                      تومان
                    </span>
                  </p>
                </v-col>
                <v-col cols="12" sm="6" class="py-0 px-4">
                  <p>
                    کارمزد:
                    <span>
                      {{
                        $props.type === "Sell"
                          ? componentsData.takerFee
                            ? $formatIRNumber(componentsData.takerFee)
                            : ""
                          : componentsData.makerFee
                      }}
                      {{ $props.type === "Sell" ? "تومان" : symbolName }}
                    </span>
                  </p>
                </v-col>

                <v-col cols="12" sm="6" class="py-0 px-4">
                  <p>
                    دریافتی :
                    <span>
                      {{ recivedLimit }}
                      {{ $props.type === "Sell" ? "تومان" : symbolName }}
                    </span>
                  </p>
                </v-col>
              </v-row>
            </v-col>
          </v-form>
          <v-card-actions class="">
            <v-btn
              @click.prevent="post"
              :aria-label="`${type}-${symbolName}`"
              block
              :disabled="overlay || loading"
              :loading="loading"
              :color="`${$props.type == 'Buy' ? 'aqua' : 'error'}`"
              class="font-14 fwl-on position-relative"
            >
              <span v-if="user_is_authenticated">
                {{ $props.type == "Buy" ? "خرید" : "فروش" }}
              </span>

              <v-overlay
                opacity="1"
                color="sheet"
                absolute
                :value="overlay"
                v-else
              >
                <p class="mb-0 info--text">
                  <router-link class="aqua--text" to="/register">
                    ثبت نام
                  </router-link>
                  یا
                  <router-link class="aqua--text" to="/login">
                    ورود
                  </router-link>
                </p>
              </v-overlay>
            </v-btn>
          </v-card-actions>
        </v-tab-item>
      </v-tabs-items>
    </v-card-text>
  </v-card>
</template>

<script>
import VCleaveInput from "./VCleaveInput.vue";
import VCleaveInputMixin from "@/plugins/mixins/VCleaveInputMixin";

import { sync, get } from "vuex-pathify";
let unSubscribe;
export default {
  name: "order-card",
  components: {
    VCleaveInput
  },
  props: {
    title: {
      type: String
    },
    type: {
      type: String
    }
  },
  mixins: [VCleaveInputMixin],
  data: vm => ({
    yourRecived: "",
    dataSlider: ["0%", "25%", "50%", "75%", "100%"],
    buySlider: "0%",
    unitPriceLimit: "",
    unitPriceMarket: "",
    amountLimit: "",
    amountMarket: "",
    allAmountLimit: "",
    allAmountMarket: "",
    sliderMarket: "0%",
    sliderLimit: "0%",
    wage: "0",
    overlay: false,
    validMarket: true,
    validLimited: true,
    form: {
      cardNumber: null,
      date: null,
      number: null
    },
    loading: false,
    allAmountLimitRules: [
      v => !!v || "قیمت کل (تومان) الزامی است",
      v => {
        v = vm.splitComma(v);
        return (
          v <= vm.componentsData.rialStock || "موجودی ریالی شما کافی نمیباشد"
        );
      }
    ],
    amountLimitRules: [
      v => !!v || "مقدار BTC الزامی است",
      v => {
        if (vm.type == "Sell") {
          v = vm.splitComma(v);
          if (+v >= 0) {
            return (
              +v <= vm.componentsData.coinStock ||
              "موجودی بیت کوین شما کافی نمیباشد"
            );
          }
          return true;
        }
        return true;
      },
      v => {
        if (vm.type == "Buy") {
          v = vm.splitComma(v);
          if (+v > 0) {
            return (
              +v > vm.componentsData.makerFee ||
              "مقدار BTC نمیتواند مساوی یا کمتر از کارمزد باشد"
            );
          }
          return true;
        }
        return true;
      }
    ]
  }),
  computed: {
    symbolName() {
      return this.$store.getters["dashboard/symbolName"];
    },
    ...sync("dashboard", ["marketTabs", "componentsData"]),
    user_is_authenticated: get("user/user_is_authenticated"),
    recivedLimit() {
      if (this.$props.type === "Sell") {
        if (+this.allAmountLimit && this.componentsData.takerFee) {
          let result = +this.allAmountLimit - this.componentsData?.takerFee;
          return this.$formatIRNumber(parseInt(result));
        }
        return "";
      } else {
        if (+this.amountLimit && this.componentsData.makerFee) {
          let result = +this.amountLimit - this.componentsData.makerFee;

          result = result.toFixed(6);
          return this.$formatIRNumber(result);
        }
        return "";
      }

      return this.$props.type === "Sell"
        ? this.allAmountLimit && this.componentsData.takerFee
          ? this.$formatIRNumber(
              +this.allAmountLimit - this.componentsData?.takerFee
            )
          : ""
        : this.amountLimit != "" && this.componentsData.makerFee
        ? this.$formatIRNumber(+this.amountLimit - this.componentsData.makerFee)
        : "";
    }
  },

  methods: {
    splitComma(val) {
      if (!val) {
        val = "";
      }
      let result = val.toString().replace(/,/g, "");
      return +result;
    },
    post() {
      // check if limit or market
      if (this.$props.type == "Buy") {
        let data = {};
        if (this.marketTabs == 0) {
          let valid = this.$refs.marketForm.validate();
          if (valid) {
            this.loading = true;
            data = {
              pair: this.$route.params.currency,
              price: +this.unitPriceMarket,
              qty: +this.amountMarket,
              type: 1
            };
            this.$emit("post-buy", data);
            setTimeout(() => {
              this.$refs.marketForm.reset();
              this.loading = false;
            }, 500);
          }
        } else if (this.marketTabs == 1) {
          let valid = this.$refs.limitedForm.validate();
          if (valid) {
            this.loading = true;
            data = {
              pair: this.$route.params.currency,
              price: +this.unitPriceLimit,
              qty: +this.amountLimit,
              type: 2
            };
            this.$emit("post-buy", data);
            setTimeout(() => {
              this.$refs.limitedForm.reset();
              this.loading = false;
            }, 500);
          }
        }
      } else if (this.$props.type == "Sell") {
        let data = {};
        if (this.marketTabs == 0) {
          let valid = this.$refs.marketForm.validate();
          if (valid) {
            this.loading = true;
            data = {
              pair: this.$route.params.currency,
              price: +this.unitPriceMarket,
              qty: +this.amountMarket,
              type: 1
            };

            this.$emit("post-sell", data);
            setTimeout(() => {
              this.$refs.marketForm.reset();
              this.loading = false;
            }, 500);
          }
        } else if (this.marketTabs == 1) {
          let valid = this.$refs.limitedForm.validate();
          if (valid) {
            this.loading = true;
            data = {
              pair: this.$route.params.currency,
              price: +this.unitPriceLimit,
              qty: +this.amountLimit,
              type: 2
            };
            this.$emit("post-sell", data);
            setTimeout(() => {
              this.$refs.limitedForm.reset();
              this.loading = false;
            }, 500);
          }
        }
      }
    },
    handleSliderMarket(value, index) {
      value = +value.replace(/\D/g, "");
      let result = (value / 100) * this.componentsData?.coinStock;
      if (result) {
        result = result.toFixed(5);
        this.amountMarket = result;
      } else {
        this.amountMarket = "";
      }
    },
    handleSliderLimit(value, index) {
      value = +value.replace(/\D/g, "");
      let result;
      if (this.$props.type == "Sell") {
        // if (this.componentsData?.coinStock > 0) {
        result = (value / 100) * this.componentsData?.coinStock;
        if (result) {
          this.amountLimit = result.toFixed(6);
          this.$nextTick(() => {
            this.handleAmountLimit(this.amountLimit);
          });
        } else {
          this.amountLimit = "0.000";
          this.allAmountLimit = "";
        }
        // } else {
        //   console.log("else run");
        //   this.$showSnackbar({
        //     content: "موجودی بیت کوین شما کافی نمیباشد",
        //     color: "red"
        //   });
        // }
      } else {
        // if (this.componentsData?.rialStock > 0) {
        result = (value / 100) * this.componentsData?.rialStock;
        if (result) {
          let amountLimit = result / this.unitPriceLimit;
          this.amountLimit = amountLimit.toFixed(6);
          this.allAmountLimit = parseInt(result).toString();
        } else {
          this.amountLimit = "0.000";
          this.allAmountLimit = "";
        }
        // } else {
        //   this.$showSnackbar({
        //     content: "موجودی تومانی شما کافی نمیباشد",
        //     color: "red"
        //   });
        // }
      }
    },
    handleUnitPriceLimit(UnitPrice) {
      console.log("UnitPrice", UnitPrice);
      if (this.$props.type === "Sell") {
        let result = 0;

        if (!UnitPrice) {
          this.allAmountLimit = "";
        }
        if (this.amountLimit) {
          result = parseInt(UnitPrice * this.amountLimit);
          result = result == 0 ? "" : result.toString();
          this.allAmountLimit = result;
        }
      } else {
        if (!UnitPrice) {
          this.allAmountLimit = "";
        }
        let result = 0;
        if (this.amountLimit) {
          result = parseInt(UnitPrice * this.amountLimit);
          result = result == 0 ? "" : result.toString();
          this.allAmountLimit = result;
        }
      }
    },
    handleAmountLimit(amountLimit) {
      console.log("amountLimit", amountLimit);
      if (this.$props.type === "Sell") {
        if (!amountLimit) {
          console.log("!amountLimit");
          this.allAmountLimit = "";
        }

        let result = 0;
        if (this.unitPriceLimit) {
          result = parseInt(amountLimit * this.unitPriceLimit);
          result = result == 0 ? "" : result.toString();
          console.log("result", result);
          this.allAmountLimit = result;
        }
      } else {
        if (!amountLimit) {
          this.allAmountLimit = "";
        }

        let result = 0;
        if (this.unitPriceLimit) {
          result = parseInt(amountLimit * this.unitPriceLimit);
          result = result == 0 ? "" : result.toString();
          this.allAmountLimit = result;
        }
      }

      // if (this.unitPriceLimit > 0) {
      //   this.allAmountLimit = amount * this.unitPriceLimit;
      // }
    },
    handleAllAmountLimit(allAmountLimit) {
      console.log("allAmountLimit", allAmountLimit);

      let result = 0;
      if (this.$props.type === "Sell") {
        if (!allAmountLimit) {
          this.amountLimit = "";
        }
        if (this.unitPriceLimit) {
          result = allAmountLimit / this.unitPriceLimit;
          result = result == 0 ? "" : result.toFixed(6);
          this.amountLimit = result;
        }
      } else {
        if (!allAmountLimit) {
          this.amountLimit = "";
        }
        if (this.unitPriceLimit) {
          result = allAmountLimit / this.unitPriceLimit;
          result = result == 0 ? "" : result.toFixed(6);
          this.amountLimit = result;
        }
      }
    },
    handleAmountMarket(amountMarket) {}
  },
  mounted() {
    unSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === "dashboard/orderBuy") {
        this.unitPriceLimit = state.dashboard.orderBuy.price;
        this.unitPriceMarket = state.dashboard.orderBuy.price;
        if (this.$props.type === "Sell") {
          // this.amountLimit = this.componentsData?.rialStock
          //   ? this.componentsData?.rialStock
          //   : "";
          // this.sliderLimit = "100%";
        } else {
          this.amountLimit = "";
          this.allAmountLimit = "";
          this.sliderLimit = "0%";
          if (this.marketTabs == 0) {
            this.$refs?.marketForm?.resetValidation();
          } else {
            this.$refs?.limitedForm?.resetValidation();
          }
        }
      }
      if (mutation.type === "dashboard/orderSell") {
        this.unitPriceLimit = state.dashboard.orderSell.price;
        this.unitPriceMarket = state.dashboard.orderSell.price;
        if (this.$props.type === "Buy") {
          // this.amountLimit = this.componentsData?.coinStock
          //   ? this.componentsData?.coinStock
          //   : "";
          // this.sliderLimit = "100%";
        } else {
          this.amountLimit = "";
          this.allAmountLimit = "";
          this.sliderLimit = "0%";
          if (this.marketTabs == 0) {
            this.$refs?.marketForm?.resetValidation();
          } else {
            this.$refs?.limitedForm?.resetValidation();
          }
        }
      }
    });
  },
  beforeDestroy() {
    unSubscribe();
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/app/components/orderCard.scss";

.bn-slider-stepper {
  box-sizing: content-box;
  position: absolute;
  transform: translateX(-50%) rotate(45deg);
  background-color: rgb(24, 26, 32);
  color: rgb(132, 142, 156);
  width: 6px;
  height: 6px;
  border-radius: 2px;
  border: 2px solid rgb(71, 77, 87);
  z-index: 10;
  overflow: visible;
  cursor: pointer;
}
</style>
