<template> </template>

<script>
export default {
  computed: {
    recived() {
      if (this.amount != "" && this.componentsData.makerFee) {
        return this.$formatIRNumber(
          +this.amount - this.componentsData.makerFee
        );
      }
      return "";
    }
  }
};
</script>
