<template>
  <v-card color="sheet" class="css-12f336h">
    <div class="orderbook-tbheader">
      <div class="content">
        <div class="d-flex justify-start">
          مبلغ کل (تومان)
        </div>
        <div class="d-flex justify-center">
          مقدار (BTC)
        </div>
        <div class="d-flex justify-end">
          قیمت (تومان)
        </div>
      </div>
    </div>
    <div class="row ma-0">
      <div class="col col-12 pa-0 h-full">
        <div class="row ma-0">
          <div class="col col-12 pa-0 orderbook-list">
            <div>
              <template v-if="!$vuetify.breakpoint.mdAndUp">
                <div
                  @mouseleave="handleMouseLeaveSell"
                  @mouseenter="handleMouseEnterSell(item, index)"
                  v-for="(item, index) in activeOrdersSell.slice(0, 5)"
                  :key="index"
                  @click="handleSell(item, index)"
                  :class="[
                    {
                      'overlay-order':
                        selectedSellId != null
                          ? index >= selectedSellId
                          : false,
                      'hover-top': index === selectedSellId
                    },
                    'orderbook-progress'
                  ]"
                >
                  <div class="progress-container flex-row">
                    <div class="row-content">
                      <div class="error--text w-full text-left font-12">
                        {{ $formatIRNumber(item.price) }}
                      </div>
                      <div class="text w-full text-center">
                        {{ item.qty }}
                      </div>
                      <div class="text w-full text-right">
                        {{ $formatIRNumber(item.total) }}
                      </div>
                    </div>
                    <div
                      class="progress-bar opacity-2 error"
                      :style="{
                        transform: `translateX(-${item.width})`
                      }"
                    ></div>
                  </div>
                </div>
              </template>
              <template v-else>
                <div
                  @mouseleave="handleMouseLeaveSell"
                  @mouseenter="handleMouseEnterSell(item, index)"
                  v-for="(item, index) in activeOrdersSell.slice(0, 14)"
                  :key="index"
                  @click="handleSell(item, index)"
                  :class="[
                    {
                      'overlay-order':
                        selectedSellId != null
                          ? index >= selectedSellId
                          : false,
                      'hover-top': index === selectedSellId
                    },
                    'orderbook-progress'
                  ]"
                >
                  <div class="progress-container flex-row">
                    <div class="row-content">
                      <div class="error--text w-full text-left font-12">
                        {{ $formatIRNumber(item.price) }}
                      </div>
                      <div class="text w-full text-center">
                        {{ item.qty }}
                      </div>
                      <div class="text w-full text-right">
                        {{ $formatIRNumber(item.total) }}
                      </div>
                    </div>
                    <div
                      class="progress-bar opacity-2 error"
                      :style="{
                        transform: `translateX(-${item.width})`
                      }"
                    ></div>
                  </div>
                </div>
              </template>
            </div>
            <div class="overlay right">
              <div
                class="content"
                :style="{
                  transform: `translate(0px, calc(-50% + ${overlaySell}px))`
                }"
              >
                <div class="overlayItem">
                  <div class="title">
                    : قیمت واحد
                  </div>
                  <div>
                    {{ $formatIRNumber(sellDataOverlay.price) }}
                  </div>
                </div>
                <div class="overlayItem">
                  <div class="title">: (BTC) مقدار</div>
                  <div>
                    {{ sellDataOverlay.qty }}
                  </div>
                </div>
                <div class="overlayItem">
                  <div class="title">
                    : قیمت کل (تومان)
                  </div>
                  <div>
                    {{ $formatIRNumber(sellDataOverlay.total) }}
                  </div>
                </div>
              </div>
              <div
                class="triangle"
                :style="{
                  transform: `translate(-5px, calc(-50% + ${overlaySell}px))`
                }"
              ></div>
            </div>
          </div>
        </div>

        <div class="row my-4">
          <div class="col col-12 pa-0">
            <div class="orderbook-ticker">
              <span
                class="aqua--text d-flex flex-row justify-center align-center"
                v-if="activeOrdersSell.length > 0 || activeOrdersBuy.length > 0"
              >
                <span class="font-16">
                  {{ loader ? "" : "1,280,000,000" }}
                </span>
                <v-icon aria-hidden="true" class="aqua--text">
                  {{ loader ? "" : "mdi-arrow-up" }}
                </v-icon>
              </span>

              <!-- <span v-else>
                سفارشی وجود ندارد
              </span> -->
            </div>
          </div>
        </div>
        <div class="row ma-0">
          <div class="col col-12 pa-0 orderbook-list">
            <div>
              <template v-if="!$vuetify.breakpoint.mdAndUp">
                <div
                  @mouseleave="handleMouseLeaveBuy"
                  @mouseenter="handleMouseEnterBuy(item, index)"
                  v-for="(item, index) in activeOrdersBuy.slice(0, 5)"
                  :key="index"
                  @click="handleBuy(item, index)"
                  :class="[
                    {
                      'overlay-order':
                        selectedBuyId != null ? index <= selectedBuyId : false,
                      'hover-bottom': index === selectedBuyId
                    },
                    'orderbook-progress'
                  ]"
                >
                  <div class="progress-container flex-row">
                    <div class="row-content">
                      <div class="aqua--text w-full text-left font-12">
                        {{ $formatIRNumber(item.price) }}
                      </div>
                      <div class="text w-full text-center">
                        {{ item.qty }}
                      </div>
                      <div class="text w-full text-right">
                        {{ $formatIRNumber(item.total) }}
                      </div>
                    </div>
                    <div
                      class="progress-bar opacity-1-5 aqua"
                      :style="{
                        transform: `translateX(-${item.width})`
                      }"
                    ></div>
                  </div>
                </div>
              </template>
              <template v-else>
                <div
                  @mouseleave="handleMouseLeaveBuy"
                  @mouseenter="handleMouseEnterBuy(item, index)"
                  v-for="(item, index) in activeOrdersBuy.slice(0, 14)"
                  :key="index"
                  @click="handleBuy(item, index)"
                  :class="[
                    {
                      'overlay-order':
                        selectedBuyId != null ? index <= selectedBuyId : false,
                      'hover-bottom': index === selectedBuyId
                    },
                    'orderbook-progress'
                  ]"
                >
                  <div class="progress-container flex-row">
                    <div class="row-content">
                      <div class="aqua--text w-full text-left font-12">
                        {{ $formatIRNumber(item.price) }}
                      </div>
                      <div class="text w-full text-center">
                        {{ item.qty }}
                      </div>
                      <div class="text w-full text-right">
                        {{ $formatIRNumber(item.total) }}
                      </div>
                    </div>
                    <div
                      class="progress-bar opacity-1-5 aqua"
                      :style="{
                        transform: `translateX(-${item.width})`
                      }"
                    ></div>
                  </div>
                </div>
              </template>
            </div>
            <div class="overlay right">
              <div
                class="content"
                :style="{
                  transform: `translate(0px, calc(-50% + ${overlayBuy}px))`
                }"
              >
                <div class="overlayItem">
                  <div class="title">
                    : قیمت واحد
                  </div>
                  <div>
                    {{ $formatIRNumber(buyDataOverlay.price) }}
                  </div>
                </div>
                <div class="overlayItem">
                  <div class="title">: (BTC) مقدار</div>

                  <div>{{ buyDataOverlay.qty }}</div>
                </div>
                <div class="overlayItem">
                  <div class="title">
                    : قیمت کل (تومان)
                  </div>
                  <div>{{ $formatIRNumber(buyDataOverlay.total) }}</div>
                </div>
              </div>
              <div
                class="triangle"
                :style="{
                  transform: `translate(-5px,  calc(-50% + ${overlayBuy}px))`
                }"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <v-overlay opacity="1" color="overlay" absolute :value="loader">
      <fingerprint-spinner
        :animation-duration="2000"
        :size="64"
        color="#f0b90b"
      />
    </v-overlay>
  </v-card>
</template>

<script>
let unSubscribe;
import { FingerprintSpinner, RadarSpinner } from "epic-spinners";
export default {
  name: "order-book",
  props: {
    buyOrders: {
      type: Array,
      required: true,
      default: () => []
    },
    sellOrders: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  components: { FingerprintSpinner, RadarSpinner },
  data: vm => ({
    activeOrdersBuy: vm.buyOrders,
    activeOrdersSell: vm.sellOrders,
    selectedBuyId: null,
    selectedSellId: null,
    overlaySell: null,
    overlayBuy: null,
    sellDataOverlay: {},
    buyDataOverlay: {},
    loader: false
  }),
  methods: {
    handleBuy(item, index) {
      let data = this.calculateBuy(item, index);
      this.$nextTick(() => {
        this.$store.commit("dashboard/orderBuy", data);
      });
    },

    calculateSell(item, index) {
      let price = item.price + "";
      let qty = 0;
      let total = 0;
      let len = this.activeOrdersSell.length;
      for (let ind = len - 1; ind >= index; ind--) {
        qty += parseFloat(this.activeOrdersSell[ind].qty);
        total += parseFloat(this.activeOrdersSell[ind].total);
      }
      qty = qty.toFixed(5);
      total = total.toString();

      let data = {
        qty,
        price,
        total
      };
      return data;
    },
    calculateBuy(item, index) {
      let price = item.price + "";
      let total = 0;
      let qty = 0;
      for (let ind = 0; ind < index + 1; ind++) {
        qty += parseFloat(this.activeOrdersBuy[ind].qty);
        total += parseFloat(this.activeOrdersBuy[ind].total);
      }

      total = total.toString();
      qty = qty.toFixed(5);

      let data = {
        price,
        total,
        qty
      };
      return data;
    },
    handleSell(item, index) {
      let data = this.calculateSell(item, index);
      this.$nextTick(() => {
        this.$store.commit("dashboard/orderSell", data);
      });
    },

    handleMouseEnterBuy(item, index) {
      this.selectedBuyId = index;
      this.overlayBuy = (index + 1) * 26;
      let data = this.calculateBuy(item, index);
      this.buyDataOverlay = data;
    },

    handleMouseEnterSell(item, index) {
      this.selectedSellId = index;
      this.overlaySell = index * 26;
      let data = this.calculateSell(item, index);
      this.sellDataOverlay = data;
    },
    handleMouseLeaveBuy() {
      this.selectedBuyId = null;
      //this.buyDataOverlay = {};
    },
    handleMouseLeaveSell() {
      this.selectedSellId = null;
      //this.sellDataOverlay = {};
    },
    getRandomInt(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    },
    getActiveOrdersSell() {
      this.loader = true;
      setTimeout(() => {
        this.$http
          .get("/api/dashboard/active-orders-sell")
          .then(res => {
            this.activeOrdersSell = res.data;
          })
          .finally(() => {
            this.loader = false;
          });
      }, 2000);
    },
    getActiveOrdersBuy() {
      this.loader = true;
      setTimeout(() => {
        this.$http
          .get("/api/dashboard/active-orders-buy")
          .then(res => {
            this.activeOrdersBuy = res.data;
          })
          .finally(() => {
            this.loader = false;
          });
      }, 2000);
    },
    chang() {
      this.activeOrdersSell?.map(item => {
        let qty = (Math.random() * (0.01 - 0.000001) + 0.000001).toFixed(5);
        let price = (
          Math.random() * (1285100000 - 1273100000) +
          1273100000
        ).toFixed(0);
        let total = (qty * price).toFixed(0);
        item.qty = qty;
        item.total = total;
        item.price = price;
      });

      this.activeOrdersBuy?.map(item => {
        let qty = (Math.random() * (0.01 - 0.000001) + 0.000001).toFixed(5);
        let price = (
          Math.random() * (1273100000 - 1260000000) +
          1273100000
        ).toFixed(0);
        let total = (qty * price).toFixed(0);
        item.qty = qty;
        item.total = total;
        item.price = price;
      });
    },
    generateFakeSocket() {
      setInterval(() => {
        this.chang();
      }, 2000);
    }
  },

  mounted() {
    unSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === "dashboard/componentsData") {
        this.loader = true;
        setTimeout(() => {
          this.activeOrdersBuy = state.dashboard.componentsData.buyOrders;
          this.activeOrdersSell = state.dashboard.componentsData.sellOrders;
          this.loader = false;
        }, 2000);
      }
    });

    // this.getActiveOrdersBuy();
    // this.getActiveOrdersSell();

    //this.generateFakeSocket();
  },
  beforeDestroy() {
    unSubscribe();
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/app/components/orderBook.scss";
</style>
