<template>
  <v-card class="sheet">
    <v-tabs
      v-model="tab"
      slider-size="1"
      slider-color="info"
      color="info"
      height="35"
      background-color="sheet"
      class="border-bottom ma-0"
    >
      <v-tab tag="span" class="custom-tab" :ripple="false" key="recentTrades">
        معاملات اخیر
      </v-tab>
      <v-tab tag="span" class="custom-tab" :ripple="false" key="myTrades">
        معاملات من
      </v-tab>
    </v-tabs>
    <v-tabs-items class="sheet" v-model="tab">
      <v-tab-item key="recentTrades">
        <v-simple-table
          class="table-font-small"
          dense
          fixed-header
          :height="
            $vuetify.breakpoint.width > 1300
              ? '560px'
              : $vuetify.breakpoint.width > 960
              ? '610px'
              : 'auto'
          "
        >
          <thead>
            <tr>
              <th class="font-12 text-right">
                قیمت کل
              </th>
              <th class="font-12 text-center">
                مقدار
              </th>
              <th class="font-12 text-left">
                قیمت (تومان)
              </th>
            </tr>
          </thead>
          <tbody class="sheet">
            <template v-if="!$vuetify.breakpoint.mdAndUp">
              <tr
                class="cursor-pointer text-right"
                v-for="item in recentTrades.slice(0, 9)"
                :key="item.name"
                @click="handleRecentTransaction(item)"
              >
                <td class="font-12 text-center">
                  {{ $formatIRNumber(item.total) }}
                </td>

                <td class="font-12 text-left">{{ item.qty }}</td>
                <td>
                  {{ $formatIRNumber(item.price) }}
                </td>
              </tr>
            </template>
            <template v-else>
              <tr
                class="cursor-pointer "
                v-for="item in recentTrades"
                :key="item.name"
                @click="handleRecentTransaction(item)"
              >
                <td class="font-12 text-right">
                  {{ $formatIRNumber(item.total) }}
                </td>

                <td class="font-12 text-center">{{ item.qty }}</td>
                <td class="text-left">
                  <!-- :class="
                    `${
                      item.isBuy ? 'aqua--text' : 'error--text'
                    }   font-12 text-left`
                  " -->
                  {{ $formatIRNumber(item.price) }}
                </td>
              </tr>
            </template>
          </tbody>
          <v-overlay
            opacity="1"
            color="sheet"
            absolute
            :value="recentTrades.length == 0"
          >
            <p class="info--text">معاملاتی وجود ندارد</p>
          </v-overlay>
          <v-overlay opacity="1" color="overlay" absolute :value="loader">
            <fingerprint-spinner
              :animation-duration="2000"
              :size="64"
              color="#f0b90b"
            />
          </v-overlay>
        </v-simple-table>
      </v-tab-item>
      <v-tab-item key="myTrades">
        <v-simple-table
          class="table-font-small"
          dense
          fixed-header
          :height="
            $vuetify.breakpoint.width > 1300
              ? '560px'
              : $vuetify.breakpoint.width > 960
              ? '640px'
              : 'auto'
          "
        >
          <thead>
            <tr>
              <th class="font-12 text-left">
                قیمت کل
              </th>
              <th class="font-12 text-left">
                مقدار
              </th>
              <th class="font-12 text-left">
                قیمت (تومان)
              </th>
            </tr>
          </thead>
          <tbody class="sheet">
            <template v-if="!$vuetify.breakpoint.mdAndUp">
              <tr
                class="cursor-pointer "
                v-for="item in recentTrades.slice(0, 9)"
                :key="item.name"
                @click="handleRecentTransaction(item)"
              >
                <td class="font-12 text-left">{{ item.total }}</td>

                <td class="font-12 text-left">{{ item.qty }}</td>
                <td>
                  <!-- :class="
                    `${
                      item.isBuy ? 'aqua--text' : 'error--text'
                    }   font-12 text-left`
                  " -->
                  {{ $formatIRNumber(item.price) }}
                </td>
              </tr>
            </template>
            <template v-else>
              <tr
                class="cursor-pointer "
                v-for="item in recentTrades"
                :key="item.name"
                @click="handleRecentTransaction(item)"
              >
                <td class="font-12 text-left">{{ item.total }}</td>

                <td class="font-12 text-left">{{ item.qty }}</td>
                <td>
                  <!-- :class="
                    `${
                      item.isBuy ? 'aqua--text' : 'error--text'
                    }   font-12 text-left`
                  " -->
                  {{ $formatIRNumber(item.price) }}
                </td>
              </tr>
            </template>
          </tbody>
          <v-overlay
            opacity="1"
            color="sheet"
            absolute
            :value="myTrades.length == 0"
          >
            <p class="info--text">معاملاتی انجام نداده اید</p>
          </v-overlay>
          <v-overlay opacity="1" color="overlay" absolute :value="loader">
            <fingerprint-spinner
              :animation-duration="2000"
              :size="64"
              color="#f0b90b"
            />
          </v-overlay>
        </v-simple-table>
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
let unSubscribe;
import { FingerprintSpinner, RadarSpinner } from "epic-spinners";
export default {
  name: "recent-trades",
  props: {
    trades: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  components: { FingerprintSpinner, RadarSpinner },
  data: vm => ({
    recentTrades: vm.trades,
    loader: false,
    tab: 0,
    myTrades: []
  }),
  computed: {
    computedHeight() {
      if (this.$vuetify.breakpoint.width > 1300) {
        return "598px";
      } else if (1300 > this.$vuetify.breakpoint.width > 960) {
        return "640px";
      } else {
        return "auto";
      }
    }
  },
  methods: {
    getRecentTrades() {
      this.loader = true;
      this.$api.Dashboard.getRecentTrades()
        .then(res => {
          this.recentTrades = res.data;
        })
        .finally(() => {
          this.loader = false;
        });
    },
    handleRecentTransaction(item) {
      let data = { price: item.price.toString() };
      if (item.isBuy) {
        this.$store.commit("dashboard/orderBuy", data);
      } else {
        this.$store.commit("dashboard/orderSell", data);
      }
    }
  },

  mounted() {
    unSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === "dashboard/componentsData") {
        this.recentTrades = state.dashboard.componentsData.trades;
      }
    });

    //this.getRecentTrades();
  },
  beforeDestroy() {
    unSubscribe();
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/app/components/recentTrades.scss";
</style>
