<template>
  <v-card
    color="sheet"
    elevation="5"
    :class="$vuetify.breakpoint.width >= 670 ? '' : 'mb-10'"
  >
    <v-card-title class="sheet pa-0">
      <v-tabs
        active-class="info--text"
        class="third--text border-bottom"
        background-color="sheet"
        show-arrows
        slider-size="2"
        v-model="cuurent_tab"
      >
        <v-tab :ripple="false" tag="span" class="v-tabb" key="open">
          سفارشات باز
        </v-tab>
        <v-tab :ripple="false" tag="span" class="v-tabb" key="done">
          سفارشات انجام شده
        </v-tab>
        <v-tab :ripple="false" tag="span" class="v-tabb" key="cancel">
          سفارشات لغو شده
        </v-tab>
      </v-tabs>
    </v-card-title>
    <v-card-text class="pa-0">
      <v-tabs-items v-model="cuurent_tab">
        <v-tab-item class="sheet" key="open">
          <v-data-table
            fixed-header
            hide-default-footer
            no-data-text="سفارش بازی وجود ندارد"
            no-results-text="سفارش بازی وجود ندارد"
            loading-text="در حال دریافت اطلاعات"
            :headers="headersOpen"
            :items="openOrders"
            height="300"
            class="elevation-1 sheet"
            :class="openOrders.length > 0 ? 't-strip' : ''"
          >
            <template v-slot:[`item.side`]="{ item }">
              <span>
                {{ item.side == 1 ? "خرید" : "فروش" }}
              </span>
            </template>

            <template v-slot:[`item.status`]="{ item }">
              <span>
                {{
                  item.status == 1
                    ? "باز"
                    : item.status == 2
                    ? "لغو شده"
                    : "تکمیل شده"
                }}
              </span>
            </template>
            <template v-slot:[`item.price`]="{ item }">
              <span>
                {{ $formatIRNumber(item.price) }}
              </span>
            </template>

            <template v-slot:[`item.total`]="{ item }">
              <span>
                {{ $formatIRNumber(parseInt(item.total)) }}
              </span>
            </template>
            <template v-slot:[`item.type`]="{ item }">
              <span>
                {{ item.type == 2 ? "قیمت دلخواه" : "بازار" }}
              </span>
            </template>

            <template v-slot:[`item.filled`]="{ item }">
              <Progress
                strokeColor="#00c4ff"
                class="mt-2"
                :transitionDuration="1000"
                :radius="20"
                :strokeWidth="3"
                :value="item.filled"
              >
              </Progress>
            </template>

            <!-- <template
              v-slot:header
              v-if="$vuetify.breakpoint.smAndUp && headersOpen != []"
            >
              <thead>
                <tr>
                  <th
                    role="columnheader"
                    scope="col"
                    :aria-label="header.text"
                    class="text-center info--text"
                    v-for="header in headersOpen"
                    :key="header.value"
                  >
                    <span class="thead">
                      {{ header.text }}
                    </span>
                  </th>
                </tr>
              </thead>
            </template>
            <template
              v-slot:body="{ items }"
              v-if="$vuetify.breakpoint.smAndUp && openOrders.length > 0"
            >
              <tbody>
                <tr v-for="item in items" :key="item.id" class="pb-5 mb-5">
                  <td class="text-center">{{ item.id }}</td>
                  <td class="text-center">{{ item.registrationDate }}</td>
                  <td class="text-center">{{ item.market }}</td>
                  <td class="text-center">{{ item.status }}</td>
                  <td class="text-center">{{ item.type }}</td>
                  <td class="text-center">{{ item.price }}</td>
                  <td class="text-center">{{ item.filled }}</td>
                  <td class="text-center">{{ item.allAmount }}</td>
                  <td class="text-center">{{ item.actions }}</td>
                </tr>
              </tbody>
            </template> -->
          </v-data-table>
        </v-tab-item>
        <v-tab-item class="sheet" key="done">
          <v-data-table
            fixed-header
            class="elevation-1 sheet"
            :class="doneOrders.length > 0 ? 't-strip' : ''"
            hide-default-footer
            no-data-text="سفارش انجام شده ای وجود ندارد"
            no-results-text="سفارش انجام شده ای وجود ندارد"
            loading-text="در حال دریافت اطلاعات"
            :headers="headersDone"
            :items="doneOrders"
            height="300"
          >
            <!-- <template v-slot:header v-if="$vuetify.breakpoint.smAndUp">
              <thead>
                <tr>
                  <th
                    role="columnheader"
                    scope="col"
                    :aria-label="header.text"
                    class="text-center info--text"
                    v-for="header in headersDone"
                    :key="header.value"
                  >
                    <span class="thead">
                      {{ header.text }}
                    </span>
                  </th>
                </tr>
              </thead>
            </template>
            <template
              v-slot:body="{ items }"
              v-if="$vuetify.breakpoint.smAndUp"
            >
              <tbody>
                <tr v-for="item in items" :key="item.id">
                  <td class="text-center">{{ item.id }}</td>
                  <td class="text-center">
                    {{ item.registrationDate }}
                  </td>
                  <td class="text-center">{{ item.market }}</td>
                  <td class="text-center">{{ item.customer }}</td>
                  <td class="text-center">{{ item.type }}</td>
                  <td class="text-center">{{ item.price }}</td>
                  <td class="text-center">{{ item.amount }}</td>
                  <td class="text-center">{{ item.filled }}</td>
                  <td class="text-center">{{ item.allAmount }}</td>
                </tr>
              </tbody>
            </template> -->
          </v-data-table>
        </v-tab-item>
        <v-tab-item class="sheet" key="cancel">
          <v-data-table
            fixed-header
            class="elevation-20 sheet"
            :class="cancelOrders.length > 0 ? 't-strip' : ''"
            hide-default-footer
            no-data-text="سفارش لغو شده ای وجود ندارد"
            no-results-text="سفارش لغو شده ای وجود ندارد"
            loading-text="در حال دریافت اطلاعات"
            :headers="headersCancel"
            :items="cancelOrders"
            height="300"
          >
            <!-- <template v-slot:no-results> </template>

            <template v-slot:no-data> </template> -->
            <!-- <template v-slot:header v-if="$vuetify.breakpoint.smAndUp">
              <thead>
                <tr>
                  <th
                    role="columnheader"
                    scope="col"
                    :aria-label="header.text"
                    class="text-center info--text"
                    v-for="header in headersCancel"
                    :key="header.value"
                  >
                    <span class="thead">
                      {{ header.text }}
                    </span>
                  </th>
                </tr>
              </thead>
            </template>
            <template
              v-slot:body="{ items }"
              v-if="$vuetify.breakpoint.smAndUp"
            >
              <tbody>
                <tr v-for="item in items" :key="item.id">
                  <td class="text-center">{{ item.id }}</td>
                  <td class="text-center">{{ item.registrationDate }}</td>
                  <td class="text-center">{{ item.market }}</td>
                  <td class="text-center">{{ item.customer }}</td>
                  <td class="text-center">{{ item.type }}</td>
                  <td class="text-center">{{ item.price }}</td>
                  <td class="text-center">{{ item.amount }}</td>
                  <td class="text-center">{{ item.filled }}</td>
                  <td class="text-center">{{ item.allAmount }}</td>
                </tr>
              </tbody>
            </template> -->
          </v-data-table>
        </v-tab-item>
        <v-overlay opacity="1" color="sheet" absolute :value="overlay">
          <p>
            لطفا برای مشاهده
            <router-link class="aqua--text" to="/register">
              ثبت نام
            </router-link>
            یا
            <router-link class="aqua--text" to="/login">
              ورود
            </router-link>
            کنید
          </p>
        </v-overlay>
      </v-tabs-items>
    </v-card-text>
  </v-card>
</template>

<script>
const Progress = () => import("easy-circular-progress");
let unSubscribe;
import { sync } from "vuex-pathify";
export default {
  name: "table-orders",
  components: {
    Progress
  },
  data: vm => ({
    overlay: false,
    headersCancel: [],
    cancelOrders: [],
    doneOrders: [],
    headersDone: [],

    cuurent_tab: 0,
    headersOpen: [
      {
        text: "تاریخ",
        value: "createOn",
        sortable: false,
        align: "center"
      },
      {
        text: "کارمزد",
        align: "center",
        sortable: false,
        value: "fee"
      },
      {
        text: "بازار",
        align: "center",
        sortable: false,
        value: "pair"
      },

      {
        text: "قیمت",
        align: "center",
        sortable: false,
        value: "price"
      },
      ,
      {
        text: "سمت",
        align: "center",
        sortable: false,
        value: "side"
      },

      {
        text: "درصد انجام شده",
        align: "center",
        sortable: false,
        value: "filled"
      },

      {
        text: "مقدار انجام شده",
        align: "center",
        sortable: false,
        value: "executedQty"
      },
      ,
      {
        text: "نوع معامله",
        align: "center",
        sortable: false,
        value: "type"
      },
      ,
      {
        text: "وضعیت",
        align: "center",
        sortable: false,
        value: "status"
      },
      {
        text: "مقدار",
        align: "center",
        sortable: false,
        value: "qty"
      },
      {
        text: "مبلغ کل",
        align: "center",
        sortable: false,
        value: "total"
      }
    ],
    openOrders: vm.$props.userOpenOrders
  }),
  props: {
    userOpenOrders: {
      type: Array,
      required: false,
      default: () => []
    }
  },
  mounted() {
    // if (this.$store.getters["user/user_is_authenticated"]) {
    //   await Promise.all([this.getCancelOrders(), this.getDoneOrders()]);
    // } else {
    //   this.overlay = true;
    // }

    unSubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === "dashboard/componentsData") {
        this.openOrders = state.dashboard.componentsData.userOpenOrders;

        console.log("openOrders", this.openOrders);
      }
    });

    this.$socket.on("OrderFill", data => {
      console.log("OrderFill run");
      this.$store.dispatch("dashboard/getMarket", this.$route.params.currency);
    });

    this.$socket.on("OrderStatus", data => {
      console.log("OrderStatus run", data);
      data = JSON.parse(data);
      console.log("JSON.parse(data)", data);
      this.openOrders.map((item, index) => {
        if (item.id == data.Id) {
          item.filled = data.Percentage;

          if (data.Percentage == 100) {
            this.$store.dispatch(
              "dashboard/getMarket",
              this.$route.params.currency
            );
          }
        }
      });
      console.log("this.openOrders", this.openOrders);
      //  let result=   this.openOrders.find(o => o.id === data.id)
    });
  },
  beforeDestroy() {
    unSubscribe();
  },
  computed: {
    ...sync("dashboard", ["componentsData"])
  },
  methods: {
    getOpenOrders() {
      this.$api.Dashboard.getOpenOrders().then(res => {
        this.openOrders = res.data?.openOrders;
        this.headersOpen = res.data?.headersOpen;
      });
    },
    getCancelOrders() {
      this.$api.Dashboard.getCancelOrders().then(res => {
        // this.cancelOrders = res.data?.cancelOrders;
        this.headersCancel = res.data?.headersCancel;
      });
    },
    getDoneOrders() {
      this.$api.Dashboard.getDoneOrders().then(res => {
        // this.doneOrders = res.data?.doneOrders;
        this.headersDone = res.data?.headersDone;
      });
    }
  }
};
</script>
<style lang="scss" scoped>
@import "@/assets/scss/app/components/tableOrders.scss";
</style>
