<template>
  <v-row>
    <v-col class="py-3 px-4 px-md-3" cols="12">
      <v-card>
        <div id="contenedor_dark" class="contenedor"></div>
        <v-overlay opacity="0.5" color="overlay" absolute :value="overlay">
          <fingerprint-spinner
            :animation-duration="2000"
            :size="64"
            color="#f0b90b"
          />
        </v-overlay>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
import { FingerprintSpinner, RadarSpinner } from "epic-spinners";
export default {
  name: "tv",
  props: {},
  components: { FingerprintSpinner, RadarSpinner },
  data: () => ({
    overlay: false
  }),
  methods: {
    traidingView() {
      this.overlay = true;
      let tv = new window.TradingView.widget({
        theme: this.$vuetify.theme.isDark ? "dark" : "light",
        autosize: true,
        symbol: "BINANCE:BTCUSDT",
        time_frames: [
          { text: "1y", resolution: "1W" },
          { text: "6m", resolution: "3D" },
          { text: "3m", resolution: "1D" },
          { text: "1m", resolution: "1D" },
          { text: "1w", resolution: "30" },
          { text: "3d", resolution: "30" },
          { text: "1d", resolution: "30" },
          { text: "6h", resolution: "15" },
          { text: "1h", resolution: "1" }
        ],
        drawings_access: {
          type: "black",
          // tools: [{name: "Regression Trend"}]//todo: moje
          tools: [
            { name: "Trend Line", grayed: true },
            { name: "Trend Angle", grayed: true }
          ] //todo: bb
        },
        disabled_features: [
          "header_symbol_search",
          "header_interval_dialog_button",
          "show_interval_dialog_on_key_press",
          "symbol_search_hot_key",
          "study_dialog_search_control",
          "display_market_status",
          "header_compare",
          "edit_buttons_in_legend",
          "symbol_info",
          "border_around_the_chart",
          "main_series_scale_menu",
          "star_some_intervals_by_default",
          "datasource_copypaste",
          "right_bar_stays_on_scroll",
          "context_menus",
          "go_to_date",
          "compare_symbol",
          "border_around_the_chart",
          "timezone_menu",
          "header_resolutions", //todo: przetestowac
          "control_bar", //todo: przetestowac
          "edit_buttons_in_legend", //todo: przetestowac
          "remove_library_container_border"
        ],
        enabled_features: [
          "dont_show_boolean_study_arguments",
          "use_localstorage_for_settings",
          "remove_library_container_border",
          "save_chart_properties_to_local_storage",
          "side_toolbar_in_fullscreen_mode",
          "hide_last_na_study_output",
          "constraint_dialogs_movement" //todo: nie do końca jestem pewien
        ],
        studies_overrides: {
          "volume.volume.color.0": "#fe4761",
          "volume.volume.color.1": "#3fcfb4",
          "volume.volume.transparency": 75
        },

        style: "1",
        locale: "fa_IR",
        toolbar_bg: "#f1f3f6",
        enable_publishing: false,
        withdateranges: true,
        hide_side_toolbar: false,
        save_image: false,
        container_id: "contenedor_dark",
        timezone: "Asia/Tehran",
        interval: "60",
        timeframe: "2D",
        allow_symbol_change: false,
        hide_top_toolbar: false,
        hideideas: true
      });
      setTimeout(() => {
        this.overlay = false;
      }, 3500);
    }
  },
  watch: {
    "$vuetify.theme.isDark"() {
      this.traidingView();
    }
  },
  mounted() {
    this.traidingView();
  }
};
</script>

<style lang="scss" scoped>
.contenedor {
  position: relative !important;
  top: unset !important;
  right: unset !important;
  left: unset !important;
  bottom: unset !important;
  margin-top: 0 !important;
  height: 425px;
}

// @media only screen and (max-width: 520px) {
//   .contenedor {
//     display: none;
//   }
// }

@media only screen and (max-width: 1400px) {
  .contenedor {
    height: 400px;
  }
}
</style>
