<template>
  <v-row>
    <v-col v-if="$vuetify.breakpoint.smAndUp" cols="5" sm="5">
      <label
        :class="$attrs.disabled ? 'info--text text--darken-4' : ''"
        :for="id"
      >
        {{ $props.label }}
      </label>
    </v-col>
    <v-col class="py-0" cols="12" :sm="$vuetify.breakpoint.smAndUp ? 7 : 12">
      <v-text-field
        dir="ltr"
        outlined
        :value="local"
        dense
        :label="$vuetify.breakpoint.smAndUp ? '' : $props.label"
        ref="input"
        type="text"
        :background-color="$attrs.disabled ? 'sheet lighten-1' : ''"
        v-bind="[$attrs, $props]"
        @keypress="onKeyPress"
        @input="handleInput"
        color="gold"
      >
        <template slot="append">
          <div class="d-flex flex-column pr-1">
            <v-btn
              :aria-label="`increase-${id}`"
              @click="increase"
              shaped
              :disabled="!local"
              x-small
              outlined
              class="border-plus"
            >
              <v-icon aria-hidden="true" small color="green">
                mdi-plus
              </v-icon>
            </v-btn>
            <v-btn
              :aria-label="`decrease-${id}`"
              @click="decrease"
              outlined
              :disabled="!local"
              x-small
              shaped
              class="border-minus"
            >
              <v-icon aria-hidden="true" small color="red">
                mdi-minus
              </v-icon>
            </v-btn>
          </div>
        </template>

        <!-- Dynamically inherit slots from parent -->

        <template v-for="slot in parentSlots" :slot="slot">
          <slot :name="slot" />
        </template>
      </v-text-field>
    </v-col>
  </v-row>
</template>

<script>
import { sync, get } from "vuex-pathify";
export default {
  name: "v-cleave-input",
  props: {
    value: {
      type: String
    },
    label: {
      type: String
    },
    id: {
      type: String
    }
  },
  data() {
    return {
      local: this.value
    };
  },
  watch: {
    value(newVal, oldVal) {
      this.handleInputWatch(newVal);
    }
  },
  methods: {
    thousands_separators(num) {
      if (!num) {
        this.local = "";
        return this.local;
      }
      num = num.toString().replace(/,/g, "");
      let num_parts = num.split(".");
      num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
      this.local = num_parts.join(".");

      return num;
    },
    handleInput(val) {
      let result = this.thousands_separators(val);
      this.$emit("input", result);
    },
    handleInputWatch(val) {
      this.thousands_separators(val);
    },
    onKeyPress(evt) {
      let result = evt.target.value.replace(/,/g, "");
      result = result.split(".");
      // console.log("result: ", result[1].length);
      if (result[1] && result[1].length >= 6) {
        evt.preventDefault();
      }

      let arr = ["۰", "۱", "۲", "۳", "۴", "۵", "۶", "۷", "۸", "۹"];

      let rez = arr.find(a => a == evt.key);
      if (rez) {
        window.alert("لطفا زبان کیبورد تان را انگلیسی کنید");
      }
      if (evt.which == 46) {
        let dotext = evt.target.value.includes(".");
        if (dotext || evt.target.value == "") {
          evt.preventDefault();
        }
        return;
      }

      if (evt.which < 48 || evt.which > 57) {
        evt.preventDefault();
      }
    },

    decrease() {
      if (this.$isNotFalseValue(this.local)) {
        let arr = this.local.toString().split(".");
        let amount;
        if (!isNaN(arr[1])) {
          let e = arr[1];
          let len = e.length;
          let bar = "0.0";
          for (let index = 1; index < len - 1; index++) {
            bar = bar + "0";
          }
          bar = bar + 1;
          let fuck = (this.local - bar).toFixed(len);
          amount = fuck;
        } else {
          let arr = this.local.toString().split(",");
          if (!isNaN(arr[1])) {
            amount = parseInt(this.local.replace(/,/g, "")) - 1;
          } else {
            amount = parseInt(this.local) - 1;
          }
        }
        let result = this.$formatIRNumber(amount);

        this.$set(this.$data, "local", result);
        this.$emit("input", amount.toString());
      }
    },
    increase() {
      if (this.$isNotFalseValue(this.local)) {
        let arr = this.local.toString().split(".");
        let amount;
        if (!isNaN(arr[1])) {
          let e = arr[1];
          let len = e.length;
          let bar = "0.0";
          for (let index = 1; index < len - 1; index++) {
            bar = bar + "0";
          }
          bar = bar + 1;
          bar = +bar;
          this.local = +this.local;
          let fuck = (this.local + bar).toFixed(len);
          amount = fuck;
        } else {
          let arr = this.local.toString().split(",");
          if (!isNaN(arr[1])) {
            amount = parseInt(this.local.replace(/,/g, "")) + 1;
          } else {
            amount = parseInt(this.local) + 1;
          }
        }
        let result = this.$formatIRNumber(amount);

        this.$set(this.$data, "local", result);
        this.$emit("input", amount.toString());
      }
    }
  },

  computed: {
    parentSlots() {
      return Object.keys(this.$slots);
    },
    ...sync("dashboard", ["marketTabs", "componentsData"])
  }
  // mounted() {
  //   console.log("this.$refs", this.$refs);
  //   this.$store.subscribe((mutation, state) => {
  //     if (mutation.type === "dashboard/orderBuy") {
  //       let inputEL = this.$refs.input.$el.querySelector(
  //         "input[name='unitPrice']"
  //       );
  //       if (inputEL != null) {
  //         this.thousands_separators(state.dashboard.orderBuy.price);
  //       }
  //     } else if (mutation.type === "dashboard/orderSell") {
  //       let inputEL = this.$refs.input.$el.querySelector(
  //         "input[name='unitPrice']"
  //       );
  //       if (inputEL != null) {
  //         this.thousands_separators(state.dashboard.orderSell.price);
  //       }
  //     }
  //   });
  // }
};
</script>

<style lang="scss" scoped>
.theme--light .border-minus {
  border: unset !important;
  border-right: thin solid #00000061 !important;
}
.theme--dark .border-minus {
  border: unset !important;
  border-right: thin solid #ffffff3d !important;
}
.theme--dark .border-plus {
  border: unset !important;
  border-right: thin solid #ffffff3d !important;
  border-bottom: thin solid #ffffff3d !important;
}
.theme--light .border-plus {
  border: unset !important;
  border-right: thin solid #00000061 !important;
  border-bottom: thin solid #00000061 !important;
}
</style>
