<template>
  <v-app>
    <snackbar></snackbar>
    <v-main>
      <v-container fluid class="minh-full bg-img">
        <transition name="zoom-fade" mode="out-in">
          <router-view :key="$route.path"></router-view>
        </transition>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { get } from "vuex-pathify";
export default {
  computed: {
    ...get("app", ["theme"])

    // options[String]  : zoom-fade / slide-fade / fade-bottom / fade / zoom-out / none(default)
  },
  beforeMount() {
    if (this.theme === "light") {
      this.$vuetify.theme.dark = true;
    }
  },
  beforeDestroy() {
    if (this.theme === "light") {
      this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
    }
  }
};
</script>

<style lang="scss">
@import "@/assets/scss/app/layout/blank.scss";
</style>
