<template>
  <v-container>
    <v-row>
      <v-col col="12">
        <v-stepper v-model="e1">
          <v-stepper-header class="sheet">
            <v-stepper-step color="aqua" :complete="e1 > 1" step="1">
              تلفن همراه
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step color="aqua" :complete="e1 > 2" step="2">
              کارت شناسایی
            </v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step color="aqua" :complete="e1 > 3" step="3">
              اطلاعات بانکی
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step color="aqua" :complete="e1 > 4" step="4">
              آدرس و تلفن
            </v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step color="aqua" :complete="e1 > 5" step="5">
              تایید هویت
            </v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content class="sheet" step="1">
              <v-card color="sheet darken-1" class="mb-12" height="200px">
                <v-card-text>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-col cols="6">
                      <v-text-field
                        v-model.trim="phoneNumber"
                        dir="ltr"
                        :rules="phoneNumberRules"
                        label="شماره همراه"
                        prepend-icon="mdi-phone"
                      />
                    </v-col>
                  </v-form>
                </v-card-text>
              </v-card>

              <v-btn class="ml-2" color="aqua darken-1" @click="e1 = 2">
                ادامه
              </v-btn>

              <v-btn color="error" @click="$router.push('/upgrade-level')">
                لغو
              </v-btn>
            </v-stepper-content>

            <v-stepper-content class="sheet" step="2">
              <v-card class="mb-12" color="sheet darken-1" height="200px">
                <v-card-text>
                  <v-col cols="6">
                    <v-file-input
                      accept="image/*"
                      label="کارت شناسایی تان را آپلود کنید"
                      v-model="file"
                    ></v-file-input>
                  </v-col>
                </v-card-text>
              </v-card>

              <v-btn class="ml-2" color="aqua darken-1" @click="e1 = 3">
                ادامه
              </v-btn>

              <v-btn color="error" @click="e1 = 1">
                لغو
              </v-btn>
            </v-stepper-content>

            <v-stepper-content class="sheet" step="3">
              <v-card class="mb-12" color="sheet darken-1" height="200px">
                <v-card-text>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-row>
                      <v-col cols="4">
                        <v-text-field
                          v-model.trim="accountNumber"
                          dir="ltr"
                          label="شماره حساب"
                        />
                      </v-col>
                      <v-col cols="4">
                        <v-text-field
                          v-model.trim="shabaNumber"
                          dir="ltr"
                          label="شماره شبا"
                          v-cleave="options.bankShaba"
                        />
                      </v-col>
                      <v-col cols="4">
                        <v-text-field
                          v-model.trim="cardNumber"
                          dir="ltr"
                          label="شماره کارت"
                          v-cleave="options.creditCard"
                        />
                      </v-col>
                      <v-col cols="4">
                        <v-text-field
                          v-model.trim="cv2"
                          dir="ltr"
                          label="cv2"
                          type="password"
                        />
                      </v-col>
                    </v-row>
                  </v-form>
                </v-card-text>
              </v-card>

              <v-btn class="ml-2" color="aqua darken-1" @click="e1 = 4">
                ادامه
              </v-btn>

              <v-btn color="error" @click="e1 = 2">
                لغو
              </v-btn>
            </v-stepper-content>

            <v-stepper-content class="sheet" step="4">
              <v-card class="mb-12" color="sheet darken-1" height="200px">
                <v-card-text>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-col cols="6">
                      <v-text-field
                        v-model.trim="address"
                        dir="ltr"
                        label="آدرس"
                      />
                    </v-col>
                  </v-form>
                </v-card-text>
              </v-card>

              <v-btn class="ml-2" color="aqua darken-1" @click="e1 = 5">
                ادامه
              </v-btn>

              <v-btn color="error" @click="e1 = 3">
                لغو
              </v-btn>
            </v-stepper-content>
            <v-stepper-content class="sheet" step="5">
              <v-card class="mb-12" color="sheet darken-1" height="200px">
                <v-card-text>
                  <v-form ref="form" v-model="valid" lazy-validation>
                    <v-col cols="6">
                      <p>
                        احراز هویت شما در حال پیگیری هست و به ایمیل شما اطلاع
                        رسانی میشود
                      </p>
                      <!-- <v-text-field
                        v-model="phoneNumber"
                        dir="ltr"
                        :rules="phoneNumberRules"
                        label="شماره همراه"
                        prepend-icon="mdi-phone"
                      /> -->
                    </v-col>
                  </v-form>
                </v-card-text>
              </v-card>

              <v-btn class="ml-2" color="aqua darken-1" @click="e1 = 1">
                ادامه
              </v-btn>

              <v-btn color="error" @click="e1 = 4">
                لغو
              </v-btn>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import VCleaveInputMixin from "@/plugins/mixins/VCleaveInputMixin";
export default {
  mixins: [VCleaveInputMixin],
  data: () => ({
    e1: 1,
    valid: true,
    phoneNumber: "09905619510",
    phoneNumberRules: [],
    file: null,
    accountNumber: "",
    shabaNumber: "",
    cv2: "",
    cardNumber: "",
    address: ""
  })
};
</script>
