<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card elevation="10" color="sheet">
          <v-card-text>
            <v-row>
              <v-col cols="12" md="4" class="text-right">
                <h2 class="info--text">سطح کاربری من</h2>
              </v-col>
              <v-col cols="11" sm="6" md="4" offset="1" offset-sm="0">
                <v-row class="mt-3">
                  <v-col cols="10" sm="9">
                    <span>سقف واریز ارزی روزانه :</span>
                  </v-col>
                  <v-col cols="2" offset="0" offset-sm="1" offset-md="0">
                    <span>0</span>
                  </v-col>
                </v-row>
                <v-row class="mt-3">
                  <v-col cols="10" sm="9">
                    <span>سقف برداشت ارزی روزانه :</span>
                  </v-col>
                  <v-col cols="2" offset="0" offset-sm="1" offset-md="0">
                    <span>0</span>
                  </v-col>
                </v-row>
                <v-row class="mt-3">
                  <v-col cols="10" sm="9">
                    <span>سقف برداشت ماهانه : </span>
                  </v-col>
                  <v-col cols="2" offset="0" offset-sm="1" offset-md="0">
                    <span>0</span>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="11" sm="6" md="4" offset="1" offset-sm="0">
                <v-row class="mt-3">
                  <v-col cols="10" sm="9">
                    <span>سقف واریز روزانه : </span>
                  </v-col>
                  <v-col cols="2" offset="0" offset-sm="1" offset-md="0">
                    <span>0</span>
                  </v-col>
                </v-row>
                <v-row class="mt-3 ">
                  <v-col cols="10" sm="9">
                    <span>سقف برداشت ریالی روزانه : </span>
                  </v-col>
                  <v-col cols="2" offset="0" offset-sm="1" offset-md="0">
                    <span>0</span>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row class="py-4">
              <v-col cols="12" class="text-center">
                <h4 class="aqua--text">
                  جهت ارتقای سطح کاربری خود از بخش زیر اقدام نمایید
                </h4>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" md="6" class="mb-3">
        <v-card elevation="20" color="sheet" class="px-6">
          <v-row class="mb-1">
            <v-col cols="12" class="d-flex justify-space-between">
              <h3>سطح کاربری2</h3>
              <router-link to="#" class="aqua--text">
                راهنما
              </router-link>
            </v-col>
          </v-row>
          <v-row class="mt-2">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">ایمیل : {{ current_user.email }} </span>
              <v-icon color="error">
                mdi-close
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">نام : {{ current_user.firstName }} </span>
              <v-icon color="success">
                mdi-check
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto"
                >نام خانوادگی : {{ current_user.lastName }}
              </span>
              <v-icon color="success">
                mdi-check
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto"
                >کد ملی : {{ current_user.nationalCode }}
              </span>
              <v-icon color="error">
                mdi-close
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">تایید شماره موبایل : </span>
              <v-icon color="error">
                mdi-close
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">آدرس : {{ current_user.address }} </span>
              <v-icon color="error">
                mdi-close
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">تصویر کارت ملی :</span>
              <v-icon color="error">
                mdi-close
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">ثبت حساب بانکی :</span>
              <v-icon color="error">
                mdi-close
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="text-center">
              <v-btn
                link
                to="/authentication"
                color="aqua darken-2"
                class="mr-3 mb-2"
              >
                ارتقا به این سطح
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" md="6">
        <v-card elevation="10" color="sheet" class="px-6">
          <v-row class="mb-1">
            <v-col cols="12" class="d-flex justify-space-between">
              <h3>سطح کاربری3</h3>
              <router-link to="#" class="aqua--text ">
                راهنما
              </router-link>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">موبایل به نام کاربر :</span>
              <v-icon color="error">
                mdi-close
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">تایید تلفن ثابت :</span>
              <v-icon color="success">
                mdi-check
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">تصویر سلفی :</span>
              <v-icon color="success">
                mdi-check
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="d-flex">
              <span class="ml-auto">تصویر قبض :</span>
              <v-icon color="error">
                mdi-close
              </v-icon>
            </v-col>
          </v-row>
          <v-row class="mt-4">
            <v-col cols="12" class="text-center">
              <v-btn
                link
                to="/authentication"
                color="aqua darken-2  sdfsd"
                class="mr-3 mb-2"
              >
                ارتقا به این سطح
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { get, sync } from "vuex-pathify";
export default {
  computed: {
    ...get("user", ["current_user"])
  }
};
</script>
