<template>
  <v-container>
    <v-row>
      <v-col cols="8" offset="2">
        <v-card>
          <v-card-title> </v-card-title>
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-text-field v-model="input1"></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field v-model="input2"></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    input1: "",
    input2: ""
  })
};
</script>
