<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        lg="4"
        offset="0"
        md="6"
        sm="8"
        offset-sm="2"
        offset-md="3"
        offset-lg="4"
      >
        <deposite-and-withdraw
          type="w-irt"
          subTitle="واریز ریال"
          btnText="پرداخت"
          title="واریز به کیف پول"
          @btnClick="postApi"
        ></deposite-and-withdraw>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
const DepositeAndWithdraw = () =>
  import("@/components/DepositeAndWithdraw.vue");
import eventBus from "@/util/eventBus";
export default {
  components: {
    DepositeAndWithdraw
  },
  methods: {
    postApi(data) {
      console.log("data");
    }
  },
  created() {
    eventBus.$on("btn-click", data => {
      this.postApi(data);
    });
  }
};
</script>
