<template>
  <v-container>
    <v-row v-if="depositData && depositData.coin">
      <v-col cols="12" sm="10" md="8" offset="0" offset-sm="1" offset-md="2">
        <v-card color="sheet">
          <!-- <v-card-title>
            <h2>کیف پول {{ depositData.coin.title }}</h2>
          </v-card-title>
          <v-divider /> -->
          <!-- <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-data-iterator :items="items" hide-default-footer>
                  <template v-slot:default="props">
                    <v-row>
                      <v-col
                        v-for="item in props.items"
                        :key="item.name"
                        cols="12"
                        sm="6"
                        md="4"
                      >
                        <v-card color="sheet">
                          <v-list dense color="sheet">
                            <v-list-item
                              v-for="(it, index) in item.items"
                              :key="index"
                            >
                              <v-list-item-content>
                                موجودی :
                              </v-list-item-content>
                              <v-list-item-content class="align-end">
                                {{ depositData.coin.ipoable }}
                                {{ depositData.coin.symbol }}
                              </v-list-item-content>
                            </v-list-item>
                          </v-list>
                        </v-card>
                      </v-col>
                    </v-row>
                  </template>
                </v-data-iterator>
              </v-col>
            </v-row>
          </v-card-text> -->
        </v-card>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="10" md="8" offset="0" offset-sm="1" offset-md="2">
        <v-card color="sheet">
          <template v-if="$route.params.symbol == 'TOMAN'">
            <v-card-title>
              <h1 class="mb-4">
                واریز تومان
              </h1>
            </v-card-title>
            <v-card-subtitle>
              <p>
                برای واریز تومان به کیف خود، لطفا مبلغ مورد نظر خود را وارد
                کنید:
              </p>
            </v-card-subtitle>
            <v-card-text>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-row>
                  <v-col
                    cols="12"
                    sm="10"
                    md="6"
                    offset="0"
                    offset-sm="1"
                    offset-md="3"
                  >
                    <custom-input
                      v-model="price"
                      outlined
                      label="مبلغ"
                      dense
                      rounded
                      :rules="priceRules"
                    >
                    </custom-input>
                  </v-col>
                </v-row>
                <v-card-actions class="pb-5">
                  <v-row>
                    <v-col cols="12" class="d-flex justify-center">
                      <v-btn
                        :loading="loading"
                        :disabled="loading"
                        @click.prevent="depositeToman"
                        color="aqua darken-1 white--text"
                      >
                        واریز
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-card-actions>
              </v-form>
            </v-card-text>
          </template>

          <template v-else>
            <v-card-title>
              <h1 class="mb-4">
                واریز بیت کوین
              </h1>
            </v-card-title>
            <v-card-subtitle>
              <p
                v-if="
                  networkAddressData &&
                    networkAddressData.depositEnable == false
                "
              >
                {{ networkAddressData.depositDesc }}
              </p>

              <p v-else>
                برای واریز کوین به کیف خود، با زدن دکمه‌ی زیر یک آدرس والت برای
                خود ایجاد نمایید:
              </p>
            </v-card-subtitle>
            <template
              v-if="
                (depositData.networkAddress &&
                  depositData.networkAddress.length == 0) ||
                  networkAddressData.depositEnable === true
              "
            >
              <v-row v-if="hasAddress">
                <v-col cols="12" sm="10" offset="0" offset-sm="1">
                  <v-text-field
                    v-model="address"
                    dir="ltr"
                    outlined
                    ref="textToCopy"
                    label="آدرس"
                    readonly
                    dense
                  >
                    <template slot="append" class="mx-5 my-4">
                      <v-btn icon @click="copyText">
                        <v-icon>
                          {{ icon }}
                        </v-icon>
                      </v-btn>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
              <v-card-actions v-else class="pb-5">
                <v-row>
                  <v-col cols="12" class="d-flex justify-center">
                    <v-btn
                      :loading="loading"
                      :disabled="loading"
                      @click.prevent="createAddress"
                      color="aqua darken-1 white--text"
                    >
                      ایجاد آدرس والت
                    </v-btn>
                  </v-col>
                </v-row>
              </v-card-actions>
            </template>
          </template>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CustomInput from "@/components/dashboard/CustomInput.vue";
export default {
  components: { CustomInput },
  data: () => ({
    address: "",
    icon: "mdi-content-copy",
    items: [
      {
        name: "LTC",
        calories: 159,
        items: [{ balance: 0 }]
      }
    ],
    loading: false,
    hasAddress: false,
    valid: true,
    price: "",
    priceRules: [v => !!v || "مبلغ واریزی الزامی میباشد"],
    depositData: {},
    networkAddressData: {}
  }),
  methods: {
    createAddress() {
      this.loading = true;
      let networkSymbol = this.depositData.networks.find(
        item => item.symbol === this.depositData.coin.symbol
      );
      let data = {
        symbol: this.depositData.coin.symbol,
        networkSymbol: networkSymbol.symbol
      };
      this.$http
        .post("/Wallet/CreateAddress", data)
        .then(res => {
          console.log("res CreateAddress", res);
          this.$showSnackbar({
            content: "آدرس شما به زودی ساخته میشود",
            color: "success2"
          });
        })
        .finally(() => {
          this.loading = false;
        });
      // setTimeout(() => {
      //   this.hasAddress = true;
      //   this.$showSnackbar({
      //     content: "آدرس با موفقیت ساخته شد",
      //     color: "success2"
      //   });
      // }, 2000);
    },
    copyText() {
      let textToCopy = this.$refs.textToCopy.$el.querySelector("input");
      textToCopy.select();
      document.execCommand("copy");
      this.icon = "mdi-check";
      this.$showSnackbar({
        content: "آدرس کپی شد",
        color: "success2"
      });
      setTimeout(() => {
        this.icon = "mdi-content-copy";
      }, 2000);
    },
    getDepositCoin(symbol) {
      this.$http.get(`/Wallet/Deposit/${symbol}`).then(res => {
        console.log("res /Wallet/Deposit/", res);
        this.depositData = res.data;

        let result = res.data.networkAddress.find(
          n => n.network.symbol === symbol
        );
        if (result && result?.address != "") {
          this.address = result.address;
          this.hasAddress = true;
          this.networkAddressData = result;
        }
      });
    },
    depositeToman() {
      let valid = this.$refs.form.validate();
      if (valid) {
        let data = { qty: +this.price };
        this.$http.post(`/Wallet/DepositRial`, data).then(res => {
          this.$showSnackbar({
            content: "حساب شما با موفقیت شارژ شد",
            color: "success2"
          });
          this.$router.push("/wallets");
          console.log("res /Wallet/DepositRial/", res);
        });
      }
    }
  },
  mounted() {
    this.$socket.on("CreateAddress", data => {
      this.$showSnackbar({
        content: "آدرس شما با موفقیت ساخته شد",
        color: "success2"
      });
      this.address = data;
      this.hasAddress = true;
    });

    this.getDepositCoin(this.$route.params.symbol);
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/scss/app/page/withdraw.scss";
</style>
