<template>
  <v-container>
    <v-row>
      <v-col
        cols="12"
        sm="10"
        md="8"
        xl="6"
        offset="0"
        offset-sm="1"
        offset-md="2"
        offset-xl="3"
      >
        <v-card color="sheet" v-if="withdrawData != null">
          <v-card-title>
            <h2 class="">برداشت {{ withdrawData.title }}</h2>
          </v-card-title>
          <v-divider />
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-row>
                <v-col
                  cols="12"
                  sm="10"
                  md="8"
                  offset="0"
                  offset-sm="1"
                  offset-md="2"
                >
                  <custom-input
                    v-model="price"
                    outlined
                    label="مبلغ برداشت"
                    dense
                    rounded
                    :rules="priceRules"
                    :hint="`موجودی ${withdrawData.stock}`"
                    persistent-hint
                    color="gold"
                  >
                    <template slot="append">
                      <v-btn @click="clickMax" small color="aqua darken-3">
                        MAX
                      </v-btn>
                    </template>
                  </custom-input>
                </v-col>
                <!-- <v-col>
                  <v-btn @click="clickMax" small color="aqua darken-3">
                    MAX
                  </v-btn>
                </v-col> -->
              </v-row>
              <v-row>
                <v-col
                  cols="12"
                  sm="10"
                  md="8"
                  offset="0"
                  offset-sm="1"
                  offset-md="2"
                >
                  <v-text-field
                    v-model.trim="dstAddress"
                    dir="ltr"
                    outlined
                    label="آدرس کیف پول مقصد"
                    dense
                    rounded
                    :rules="dstAddressRules"
                  >
                  </v-text-field>
                </v-col>
              </v-row>

              <v-row>
                <v-col
                  cols="12"
                  sm="10"
                  md="8"
                  offset="0"
                  offset-sm="1"
                  offset-md="2"
                >
                  <custom-input
                    v-model="fee"
                    outlined
                    :label="`کارمزد انتقال ${withdrawData.symbol}`"
                    dense
                    rounded
                    readonly
                  >
                  </custom-input>
                </v-col>
              </v-row>

              <!-- <v-row v-if="withdrawData.haveMemo">
                <v-col
                  cols="12"
                  sm="10"
                  md="8"
                  offset="0"
                  offset-sm="1"
                  offset-md="2"
                >
                  <v-text-field
                    v-model="memo"
                    dir="ltr"
                    outlined
                    label="آدرس memo"
                    dense
                    rounded
                  >
                  </v-text-field>
                </v-col>
              </v-row> -->
            </v-form>
          </v-card-text>
          <v-card-actions class="pb-5">
            <v-row>
              <v-col cols="12" class="d-flex justify-center">
                <v-btn
                  :loading="loading"
                  :disabled="loading"
                  @click.prevent="postWithdraw"
                  color="aqua darken-1 white--text"
                >
                  برداشت
                </v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import CustomInput from "@/components/dashboard/CustomInput.vue";
export default {
  components: { CustomInput },
  data: () => ({
    price: "",
    dstAddress: "",
    fee: "",
    memo: "",
    valid: true,
    loading: false,
    priceRules: [v => !!v || "مبلغ برداشت الزامی است"],
    dstAddressRules: [v => !!v || "آدرس کیف پول مقصد الزامی است"],
    withdrawData: {}
  }),
  methods: {
    postWithdraw() {
      let valid = this.$refs.form.validate();
      if (valid) {
        this.loading = true;
        let data = {
          symbol: this.withdrawData.symbol,
          qty: +this.price,
          address: this.dstAddress,
          memo: this.memo
        };
        console.log("data", data);
        this.$http
          .post(`/Wallet/Withdraw`, data)
          .then(res => {
            console.log("res", res);

            this.$showSnackbar({
              content: "برداشت با موفقیت ساخته شد",
              color: "success2"
            });

            this.$router.push("/wallets");
          })
          .finally(() => {
            this.loading = false;
          });
      }
    },
    getWithdrawSymbol(symbol) {
      this.$http.get(`/Wallet/Withdraw/${symbol}`).then(res => {
        this.withdrawData = res.data;
        // this.price = res.data.stock.toString();
        this.fee = res.data.withdrawFee.toString();
        console.log("res", res);
      });
    },
    clickMax() {
      this.price = this.withdrawData.stock.toString();
    }
  },
  mounted() {
    this.getWithdrawSymbol(this.$route.params.symbol);
  }
};
</script>
