<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <v-card
          color="sheet"
          class="rounded-xl"
          v-if="headers && depositRecords"
        >
          <v-card-title class="sheet darken-1">
            <v-toolbar-title class="mr-4">سوابق واریز</v-toolbar-title>
          </v-card-title>
          <v-divider />
          <v-card-text class="pa-0">
            <v-data-table
              :headers="headers"
              :items="depositRecords"
              hide-default-footer
              class="elevation-1 t-strip"
              no-data-text="اطلاعاتی وجود ندارد"
              no-results-text="اطلاعاتی وجود ندارد"
              loading-text="در حال دریافت اطلاعات"
              :page.sync="pagination.page"
              :items-per-page="pagination.itemsPerPage"
              @page-count="handlePageCount"
            >
              <template v-slot:[`item.status`]="{ item }">
                <span
                  :class="
                    item.status === 'پرداخت شده' ? 'aqua--text' : 'error--text'
                  "
                  >{{ item.status }}</span
                >
              </template>
            </v-data-table>
            <div class="text-center py-2">
              <v-pagination
                v-if="pagination.pageCount != 0"
                color="aqua"
                light
                total-visible="7"
                v-model="pagination.page"
                :length="pagination.pageCount"
              ></v-pagination>
              <!-- @input="handlePagination"
                @next="nextPage"
                @previous="previousPage" -->
              <!-- <v-text-field
                :value="pagination.itemsPerPage"
                label="Items per page"
                type="number"
                min="-1"
                max="15"
                @input="handlePerPage"
              ></v-text-field> -->
            </div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    depositRecords: [],
    headers: [],
    pagination: {
      page: 1,
      pageCount: 2,
      itemsPerPage: 10
    }
  }),
  methods: {
    handlePageCount(val) {
      this.pagination.pageCount = val;
    }
  },
  mounted() {
    this.$api.DepositRecords.getDepositRecords().then(res => {
      this.depositRecords = res.data.depositRecords;
      this.headers = res.data.headers;
    });
  }
};
</script>
