<template>
  <v-row no-gutters class="d-flex bg-img justify-center align-center">
    <v-col cols="10" sm="8" md="6" lg="4" class="">
      <v-card elevation="20" color="sheet">
        <v-card-title>
          <h2 class="mb-4 lighten-4--text">خوش آمدید</h2>
        </v-card-title>
        <v-card-subtitle>
          <p>لطفا به اکانت خود وارد شوید</p>
        </v-card-subtitle>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              v-model.trim="email"
              dir="ltr"
              :rules="emailRules"
              label="ایمیل"
              prepend-icon="mdi-email"
            />
            <v-text-field
              v-model="pass"
              dir="ltr"
              :type="showPassword ? 'text' : 'password'"
              label="رمز عبور"
              :rules="passRules"
              prepend-icon="mdi-lock"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
            />
            <v-checkbox label="مرا به خاطر بسپار" v-model="remember">
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions class="d-flex justify-space-between pb-4">
          <v-btn
            aria-label="login"
            :disabled="!valid"
            @click.prevent="login"
            color="success2"
            class="ml-auto px-4"
            >ورود</v-btn
          >
          <v-btn
            aria-label="register"
            @click="$router.push('/register')"
            color="blue"
            >ثبت نام</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
const EMAIL_REJEX = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
import { sync } from "vuex-pathify";
export default {
  data: () => ({
    email: "",
    pass: "",
    emailRules: [
      v => !!v || "ایمیل الزامی است",
      v =>
        EMAIL_REJEX.test(
          String(v)
            .toLowerCase()
            .trim()
        ) || "ایمیل صحیح نمیباشد"
    ],
    passRules: [
      v => !!v || "رمز عبور الزامی است",
      v => (v && v.length >= 6) || "رمز عبور باید حداقل 6 کاراکتر باشد"
    ],
    showPassword: false,
    valid: true,
    remember: false
  }),
  computed: {
    ...sync("user", ["users"])
  },
  methods: {
    login() {
      let valid = this.$refs.form.validate();
      if (valid) {
        let data = { password: this.pass, email: this.email };

        this.$http.post("/Auth", data).then(
          res => {
            let token = JSON.parse(res.data);
            this.$store.commit("user/current_user", data);
            this.$store.commit("user/token", token.auth_token);
            this.$setDataToLocalStorage("user", data);
            this.$setDataToLocalStorage("token", token.auth_token);
            this.$showSnackbar({
              content: "شما باموفقیت وارد شدید",
              color: "success2"
            });
            this.$router.replace(`/dashboard`);
          },
          err => {
            console.log("err", err);
            // this.$showSnackbar({
            //   content: "متاسفانه ثبت نام انجام نشد دوباره امتحان کنید",
            //   color: "red"
            // });
          }
        );
      }
    }
  }
};
</script>
