<template>
  <v-row no-gutters class="d-flex bg-img justify-center align-center">
    <v-col cols="12" sm="8" md="6" lg="4">
      <v-card elevation="20" color="sheet">
        <v-card-title class="d-flex">
          <h2 class="mb-4 lighten-4--text">ساخت اکانت</h2>
        </v-card-title>
        <v-card-subtitle>
          <p class="mb-0">لطفا فیلد های زیر را برای ساخت کاربر جدید پر کنید</p>
        </v-card-subtitle>
        <v-card-text class="pb-0">
          <v-form ref="form" v-model="valid" lazy-validation>
            <!-- <v-text-field
              v-model.trim="userName"
              dir="ltr"
              :rules="nameRules"
              label="نام کاربری"
              prepend-icon="mdi-account-circle"
            /> -->
            <v-text-field
              v-model.trim="email"
              :rules="emailRules"
              dir="ltr"
              type="text"
              label="ایمیل"
              prepend-icon="mdi-email"
              class="mb-3"
            />
            <v-text-field
              v-model.trim="pass"
              dir="ltr"
              :type="showPassword ? 'text' : 'password'"
              label="رمز عبور"
              prepend-icon="mdi-lock"
              :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showPassword = !showPassword"
              :rules="passRules"
              class="mb-3"
            />
            <v-text-field
              v-model.trim="Cpass"
              class="mb-3"
              dir="ltr"
              :type="showCPassword ? 'text' : 'password'"
              label="تکرار رمز عبور"
              prepend-icon="mdi-lock"
              :append-icon="showCPassword ? 'mdi-eye' : 'mdi-eye-off'"
              @click:append="showCPassword = !showCPassword"
              :rules="CpassRules"
            />
            <v-checkbox
              class="mb-3"
              :rules="[
                v => !!v || 'شما برای ادامه دادن باید قوانین را قبول کنید!'
              ]"
              label="تمام قوانین و مقررات را خوانده و میپذیرم"
              v-model="remember"
            >
            </v-checkbox>
          </v-form>
        </v-card-text>
        <v-card-actions class="d-flex justify-space-between pb-4">
          <v-btn
            class="px-5"
            aria-label="register"
            @click="postRegister"
            color="blue"
            :disabled="!valid || !remember"
          >
            <span class="font-14">ثبت نام</span>
          </v-btn>
          <v-btn
            class="px-5"
            aria-label="login"
            @click="$router.push('/login')"
            color="success2"
          >
            <span class="font-14">ورود</span>
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
const EMAIL_REJEX = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
export default {
  data: vm => ({
    showPassword: false,
    showCPassword: false,
    remember: false,
    Cpass: "",
    pass: "",
    userName: "",
    email: "",
    valid: true,
    nameRules: [v => !!v || "نام کاربری الزامی است"],
    emailRules: [
      v => !!v || "ایمیل الزامی است",
      v => EMAIL_REJEX.test(String(v).toLowerCase()) || "ایمیل صحیح نمیباشد"
    ],
    passRules: [
      v => !!v || "رمز عبور الزامی است",
      v => (v && v.length >= 8) || "رمز عبور باید حداقل 8 کاراکتر باشد"
    ],
    CpassRules: [
      v => !!v || "تکرار رمز عبور الزامی است",
      v => (v && v.length >= 8) || "تکرار رمز عبور باید حداقل 8 کاراکتر باشد",
      v => (v && v == vm.pass) || "رمز ها یکی نمیباشند"
    ]
  }),
  methods: {
    postRegister() {
      let valid = this.$refs.form.validate();
      if (valid) {
        let user = {
          email: this.email,
          password: this.pass
        };

        this.$http.post("/Auth", user).then(
          res => {
            let token = JSON.parse(res.data);
            localStorage.setItem("token", token.auth_token);

            this.$store.commit("user/current_user", user);
            this.$setDataToLocalStorage(user);

            this.$showSnackbar({
              content: "شما باموفقیت ثبت نام کردید",
              color: "success2"
            });
            this.$router.replace(`/dashboard/BTCTOMAN`);
          },
          err => {
            this._vm.$showSnackbar({
              content: "متاسفانه ثبت نام انجام نشد دوباره امتحان کنید",
              color: "red"
            });
          }
        );
      }
    }
  }
};
</script>
