<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <div id="captcha"></div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({}),
  methods: {},
  mounted() {}
};
</script>

<style lang="scss" scoped>
@import "@/views/auth-pages/slidercaptcha.scss";
</style>
