<template>
  <router-view />
</template>

<script>
// Styles
import "@/styles/overrides.sass";

export default {
  name: "App",
  metaInfo() {
    return {
      title: `رمزینو`,
      titleTemplate: `%s | ${this.title}`,
      htmlAttrs: { lang: "fa" },
      meta: [
        { charset: "utf-8" },
        {
          name: "viewport",
          content: "width=device-width, initial-scale=1, shrink-to-fit=no"
        },
        {
          name: "description",
          content: `Mary's simple recipe for maple bacon donuts
           makes a sticky, sweet treat with just a hint
           of salt that you'll keep coming back for.`
        }
      ]
      // script: [
      //   {
      //     src: "https://s3.tradingview.com/tv.js",
      //     type: "text/javascript"
      //   }
      // ]
    };
  },
  computed: {
    title() {
      return this.$route.name != null ? this.$route.name : "";
    }
  },
  data: () => ({
    showUpdateUI: false
  }),
  // created() {
  //   axios.interceptors.response.use(undefined, function(err) {
  //     return new Promise(function(resolve, reject) {
  //       if (err.status === 401 && err.config && !err.config.__isRetryRequest) {
  //         // if you ever get an unauthorized, logout the user
  //         this.$store.dispatch(AUTH_LOGOUT);
  //         // you can also redirect to /login if needed !
  //       }
  //       throw err;
  //     });
  //   });
  // },
  created() {
    if (this.$workbox) {
      this.$workbox.addEventListener("waiting", () => {
        this.showUpdateUI = true;
      });
    }
  },
  methods: {
    async update() {
      this.showUpdateUI = false;
      await this.$workbox.messageSW({ type: "SKIP_WAITING" });
    }
  }
};
</script>
