<template>
  <v-app-bar
    id="default-app-bar"
    app
    absolute
    class="v-bar--underline"
    color="transparent"
    height="70"
  >
    <default-drawer-toggle />

    <span
      class="font-14 d-flex flex-column"
      v-if="$vuetify.breakpoint.width > 372"
    >
      <span>
        امروز :
        <span class="letter-spacing-3">{{
          new Date().toLocaleDateString("fa-IR")
        }}</span>
      </span>

      <span> {{ current_user.email }} </span>
    </span>

    <v-spacer />
    <v-btn
      v-if="$vuetify.breakpoint.smAndUp"
      link
      to="/upgrade-level"
      class="blue white--text"
    >
      ارتقای سطح کاربری
      <v-icon right>
        mdi-trending-up
      </v-icon>
    </v-btn>

    <v-btn v-else link to="/upgrade-level" class="blue white--text" icon>
      <v-icon>
        mdi-trending-up
      </v-icon>
    </v-btn>
    <v-spacer />

    <template v-if="$vuetify.breakpoint.smAndUp">
      <default-theme-settings class="ml-2" />
      <default-support />

      <default-notifications />

      <default-account />
      <default-logout />
    </template>
    <template v-if="$vuetify.breakpoint.smAndDown">
      <default-mobile-settings />
    </template>
  </v-app-bar>
</template>

<script>
import { get, sync } from "vuex-pathify";

export default {
  name: "DefaultBar",

  components: {
    DefaultAccount: () =>
      import(
        /* webpackChunkName: "default-account" */
        "./widgets/Account"
      ),
    DefaultDrawerToggle: () =>
      import(
        /* webpackChunkName: "default-drawer-toggle" */
        "./widgets/DrawerToggle"
      ),

    DefaultNotifications: () =>
      import(
        /* webpackChunkName: "default-notifications" */
        "./widgets/Notifications"
      ),
    DefaultThemeSettings: () =>
      import(
        /* webpackChunkName: "default-theme-settings" */
        "./widgets/ThemeSettings"
      ),
    DefaultLogout: () =>
      import(
        /* webpackChunkName: "default-logout" */
        "./widgets/Logout"
      ),
    DefaultSupport: () =>
      import(
        /* webpackChunkName: "default-support" */
        "./widgets/Support"
      ),
    DefaultMobileSettings: () =>
      import(
        /* webpackChunkName: "default-mobile-settings" */
        "./widgets/MobileSettings"
      )
  },
  data: () => ({}),
  computed: {
    ...sync("app", ["drawer"]),
    name: get("route/name"),
    ...get("user", ["current_user"])
  }
};
</script>
