<template>
  <v-footer
    v-if="showFooter"
    id="default-footer"
    color="transparent"
    class="mt-1"
    fixed
    absolute
    app
  >
    <!-- <template v-if="$vuetify.breakpoint.width < 750"> </template> -->
    <v-col cols="12">
      <div class="body-1 font-weight-light pt-6 pt-md-0 text-center">
        <p>
          تمامی حقوق مادی و معنوی این سایت برای رمزینو محفوظ میباشد
          {{ new Date().getFullYear() }} &copy;
        </p>
      </div>
    </v-col>
    <!-- <links /> -->
  </v-footer>
</template>

<script>
import { get } from "vuex-pathify";
// Components
const Links = () => import("@/components/Links");

export default {
  name: "DefaultFooter",
  components: {
    Links
  },
  computed: {
    name: get("route/name"),
    showFooter() {
      if (this.$vuetify.breakpoint.width < 670) {
        if (this.name == "داشبورد") {
          return false;
        }
        return true;
      }
      return true;
    }
  }
};
</script>
