<template>
  <v-app>
    <snackbar></snackbar>
    <default-bar />

    <default-drawer />

    <default-view />

    <default-footer />
  </v-app>
</template>

<script>
import { sync } from "vuex-pathify";
export default {
  name: "DefaultLayout",

  components: {
    DefaultBar: () =>
      import(
        /* webpackChunkName: "default-app-bar" */
        "./AppBar"
      ),
    DefaultDrawer: () =>
      import(
        /* webpackChunkName: "default-drawer" */
        "./Drawer"
      ),
    DefaultFooter: () =>
      import(
        /* webpackChunkName: "default-footer" */
        "./Footer"
      ),

    DefaultView: () =>
      import(
        /* webpackChunkName: "default-view" */
        "./View"
      )
  },
  computed: {
    ...sync("app", ["drawer", "user"])
  },
  methods: {
    socketConnection() {
      this.$socket.start().then(() => {
        this.$socket.invoke(
          "GetUserData",
          this.$store.state.user.current_user.email
        );

        this.$socket.on("InComingTransaction", data => {
          this.$showSnackbar({
            content: "واریز ارز شما با موفقیت انجام شد",
            color: "success2"
          });
          console.log("data InComingTransaction", data);
        });

        this.$socket.on("CreateAddress", data => {
          this.$showSnackbar({
            content: "آدرس شما با موفقیت ساخته شد",
            color: "success2"
          });
        });

        // this.$socket.onreconnected(connectionId => {
        //   console.log("connectionId", connectionId);
        // });
      });
    }
  },
  mounted() {
    // onreconnected
    this.socketConnection();
  },
  beforeDestroy() {
    if (this.drawer == true) {
      this.drawer = false;
    }

    this.$socket.stop();
  }
};
</script>
