<template>
  <v-main class="mb-3">
    <transition :name="hasAnimation ? 'zoom-fade' : 'none'" mode="out-in">
      <router-view :key="$route.path" />
    </transition>
    <v-overlay :value="overlay" opacity="0.7">
      <v-sheet
        color="main"
        class="flex-c-c"
        elevation="20"
        height="70"
        width="400"
        rounded="xl"
      >
        <h2 class="error--text">مشکلی پیش آمده دوباره سعی کنید</h2>
        <v-btn aria-label="refresh" fab icon @click="reload" class="mr-2">
          <v-icon aria-hidden="true">
            mdi-refresh
          </v-icon>
        </v-btn>
      </v-sheet>
    </v-overlay>
  </v-main>
</template>

<script>
import { get } from "vuex-pathify";
export default {
  name: "DefaultView",
  computed: {
    ...get("app", ["overlay"]),
    hasAnimation() {
      // if (this.$route.meta?.animation === false) {

      // }

      if (this.$route.meta?.animation === false) {
        return false;
      }
      return true;
    }
  },

  methods: {
    reload() {
      window.location.reload();
    }
  },

  mounted() {}
};
</script>
